In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
from sklearn.cluster import KMeans

In [2]:
path = 'C:/Users/JoseAntonio/Desktop/ENOE/coe2t2016/coe2t2016.csv'
df = pd.read_csv(path, encoding='latin', low_memory=False)
path = 'C:/Users/JoseAntonio/Desktop/ENOE/coe2t2016/coe2t116.csv'
df1 = pd.read_csv(path, encoding='latin', low_memory=False)
path = 'C:/Users/JoseAntonio/Desktop/ENOE/coe2t2016/coe2t216.csv'
df2 = pd.read_csv(path, encoding='latin', low_memory=False)
path = 'C:/Users/JoseAntonio/Desktop/ENOE/coe2t2016/coe2t316.csv'
df3 = pd.read_csv(path, encoding='latin', low_memory=False)
path = 'C:/Users/JoseAntonio/Desktop/ENOE/coe2t2016/coe2t416.csv'
df4 = pd.read_csv(path, encoding='latin', low_memory=False)
df.head()

,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,n_ent,...,p11_h6,p11_m6,p11_7,p11_h7,p11_m7,p11_8,p11_h8,p11_m8,ur,fac
0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,4.0,...,2.0,0.0,7,1.0,0.0,,NaN,NaN,1.0,422.0
1,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,4.0,...,NaN,NaN,7,14.0,0.0,,NaN,NaN,1.0,422.0
2,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,4.0,...,NaN,NaN,,NaN,NaN,,NaN,NaN,1.0,422.0
3,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,4.0,...,NaN,NaN,7,16.0,0.0,,NaN,NaN,1.0,422.0
4,1.0,9.0,40001.0,900471.0,101.0,38.0,2.0,1.0,0.0,4.0,...,NaN,NaN,7,5.0,0.0,,NaN,NaN,1.0,422.0

In [3]:
df1.head()

,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,n_ent,...,p11_h6,p11_m6,p11_7,p11_h7,p11_m7,p11_8,p11_h8,p11_m8,ur,fac
0,1,9,40001,900471,101,15,1,1,0,4,...,2.0,0.0,7,1.0,0.0,,NaN,NaN,1,422
1,1,9,40001,900471,101,15,1,1,0,4,...,NaN,NaN,7,14.0,0.0,,NaN,NaN,1,422
2,1,9,40001,900471,101,15,1,1,0,4,...,NaN,NaN,,NaN,NaN,,NaN,NaN,1,422
3,1,9,40001,900471,101,15,1,1,0,4,...,NaN,NaN,7,16.0,0.0,,NaN,NaN,1,422
4,1,9,40001,900471,101,38,2,1,0,4,...,NaN,NaN,7,5.0,0.0,,NaN,NaN,1,422

In [4]:
df2.head()

,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,n_ent,...,p9_h6,p9_m6,p9_7,p9_h7,p9_m7,p9_8,p9_h8,p9_m8,ur,fac
0,1,9,40001,900471,101,15,1,1,0,5,...,1.0,0.0,7,3.0,0.0,,NaN,NaN,1,417
1,1,9,40001,900471,101,15,1,1,0,5,...,NaN,NaN,7,12.0,0.0,,NaN,NaN,1,417
2,1,9,40001,900471,101,15,1,1,0,5,...,NaN,NaN,7,2.0,0.0,,NaN,NaN,1,417
3,1,9,40001,900471,101,15,1,1,0,5,...,NaN,NaN,7,10.0,0.0,,NaN,NaN,1,417
4,1,9,40001,900471,101,38,2,1,0,5,...,3.0,0.0,7,9.0,0.0,,NaN,NaN,1,417

In [5]:
df3.head()

,1,9,40001,900471,101,55,2,1.1,0,1.2,...,Unnamed: 60,Unnamed: 61,7.1,1.4,0.1,.18,Unnamed: 66,Unnamed: 67,1.5,484
0,1,9,40001,900471,101,55,2,1,0,1,...,NaN,NaN,7,30.0,0.0,,NaN,NaN,1,484
1,1,9,40001,900471,101,55,2,1,0,1,...,1.0,0.0,,NaN,NaN,,NaN,NaN,1,484
2,1,9,40001,900471,101,55,2,1,0,1,...,NaN,NaN,7,25.0,0.0,,NaN,NaN,1,484
3,1,9,40001,900471,101,80,3,1,0,1,...,NaN,NaN,7,1.0,0.0,,NaN,NaN,1,484
4,1,9,40001,900471,101,80,3,1,0,1,...,NaN,NaN,7,25.0,0.0,,NaN,NaN,1,484

In [6]:
df4.head()

,1,9,40001,900471,101,55,2,1.1,0,2.1,...,Unnamed: 60,Unnamed: 61,.17,Unnamed: 63,Unnamed: 64,.18,Unnamed: 66,Unnamed: 67,1.3,640
0,1,9,40001,900471,101,55,2,1,0,2,...,NaN,NaN,7,21.0,0.0,,NaN,NaN,1,640
1,1,9,40001,900471,101,55,2,1,0,2,...,NaN,NaN,7,1.0,0.0,,NaN,NaN,1,640
2,1,9,40001,900471,101,80,3,1,0,2,...,NaN,NaN,,NaN,NaN,,NaN,NaN,1,640
3,1,9,40001,900471,101,80,3,1,0,2,...,NaN,NaN,7,18.0,0.0,,NaN,NaN,1,640
4,1,9,40001,900471,101,80,3,1,0,2,...,NaN,NaN,7,1.0,0.0,,NaN,NaN,1,640

In [7]:
#copia de seguridad 
df_copy = df.copy()

In [8]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Columns: 125 entries, cd_a to fac
dtypes: float64(59), object(66)
memory usage: 1000.0+ MB

In [9]:
df_copy.dtypes

cd_a         float64
ent          float64
con          float64
upm          float64
d_sem        float64
n_pro_viv    float64
v_sel        float64
n_hog        float64
h_mud        float64
n_ent        float64
per          float64
n_ren        float64
eda          float64
n_inf        float64
p6_1         float64
p6_2         float64
p6_3         float64
p6_4         float64
p6_5         float64
p6_6         float64
p6_7         float64
p6_8         float64
p6_9         float64
p6_10        float64
p6_99        float64
p6a1          object
p6a2          object
p6a3          object
p6a4          object
p6a9          object
              ...
p10a3         object
p10a4         object
p10a9         object
p10b         float64
p11_1         object
p11_h1       float64
p11_m1       float64
p11_2         object
p11_h2       float64
p11_m2       float64
p11_3         object
p11_h3       float64
p11_m3       float64
p11_4         object
p11_h4       float64
p11_m4       float64
p11_5         object
p11_h5       float64
p11_m5       float64
p11_6         object
p11_h6       float64
p11_m6       float64
p11_7         object
p11_h7       float64
p11_m7       float64
p11_8         object
p11_h8       float64
p11_m8       float64
ur           float64
fac          float64
Length: 125, dtype: object

In [10]:
df_copy = df.fillna(value=99)

In [11]:
df_copy.head()

,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,n_ent,...,p11_h6,p11_m6,p11_7,p11_h7,p11_m7,p11_8,p11_h8,p11_m8,ur,fac
0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,4.0,...,2.0,0.0,7,1.0,0.0,,99.0,99.0,1.0,422.0
1,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,4.0,...,99.0,99.0,7,14.0,0.0,,99.0,99.0,1.0,422.0
2,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,4.0,...,99.0,99.0,,99.0,99.0,,99.0,99.0,1.0,422.0
3,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,4.0,...,99.0,99.0,7,16.0,0.0,,99.0,99.0,1.0,422.0
4,1.0,9.0,40001.0,900471.0,101.0,38.0,2.0,1.0,0.0,4.0,...,99.0,99.0,7,5.0,0.0,,99.0,99.0,1.0,422.0

# Ciudad autorrepresentada (cd_a)

1 México            
2 Guadalajara            
3 Monterrey            
4 Puebla            
5 León 
6 Torreón           
7 San Luis Potosí        
8 Mérida               
9 Chihuahua         
10 Tampico 
12 Veracruz         
13 Acapulco              
14 Aguascalientes      
15 Morelia          
16 Toluca 
17 Saltillo         
18 Villahermosa          
19 Tuxtla Gutiérrez    
21 Tijuana          
24 Culiacán 
25 Hermosillo       
26 Durango               
27 Tepic               
28 Campeche         
29 Cuernavaca 
31 Oaxaca           
32 Zacatecas             
33 Colima              
36 Querétaro        
39 Tlaxcala 
40 La Paz           
41 Cancún                
43 Pachuca             

81 Complemento urbano-rural 
82 Complemento urbano-rural 
83 Complemento urbano-rural 
84 Complemento urbano-rural 
85 Complemento urbano-rural 
86 Complemento urbano-rural

In [12]:
df_copy['cd_a']=df_copy['cd_a'].astype('int64')
df_copy.cd_a.value_counts()

86    139331
81     70091
1      50637
83     50368
84     47105
85     37040
5      34646
2      32726
3      32605
4      31581
16     24289
82     23986
15     22335
14     21885
7      21821
24     21735
17     21277
19     21079
18     21051
8      20597
9      20060
25     20010
13     19582
21     19573
26     18756
10     18589
39     18079
12     17185
31     16808
27     16283
32     16111
29     15620
36     15242
33     14829
43     14792
28     14431
41     13546
40     12893
99         1
Name: cd_a, dtype: int64

# Entidad Autorrepresentada (END)

1 Aguascalientes            
2 Baja California            
3 Baja California Sur            
4 Campeche            
5 Coahuila            
6 Colima            
7 Chiapas            
8 Chihuahua            
9 Ciudad de México            
10 Durango            
11 Guanajuato            
12 Guerrero            
13 Hidalgo            
14 Jalisco            
15 México            
16 Michoacán            
17 Morelos            
18 Nayarit            
19 Nuevo León            
20 Oaxaca            
21 Puebla            
22 Querétaro            
23 Quintana Roo            
24 San Luis Potosí            
25 Sinaloa            
26 Sonora            
27 Tabasco            
28 Tamaulipas            
29 Tlaxcala            
30 Veracruz            
31 Yucatán            
32 Zacatecas

In [13]:
df_copy['ent']=df_copy['ent'].astype('int64')
df_copy.ent.value_counts()

15    54880
11    48898
21    43692
14    42706
19    40627
7     37859
30    35420
16    34645
5     34047
1     33871
12    33731
24    33730
2     33557
27    33272
25    32961
20    32584
31    31951
8     31918
9     31502
28    30359
26    30277
32    28980
10    28706
29    28583
18    27654
22    26663
4     26657
17    25623
13    25031
6     24807
23    22751
3     20632
99        1
Name: ent, dtype: int64

# Ambito del número de control (CON)
         
4 --> Ciudades autorrepresentadas         
5 --> Complemento urbano         
6 --> Rural         
0001-9999 --> Los últimos cuatro Consecutivo por entidad dígitos y ámbito

In [14]:
df_copy['con']=df_copy['con'].astype('int64')
df_copy.con.value_counts()

60002    5443
60004    5117
60006    5020
60003    5014
60005    4985
60001    4941
60013    4933
60012    4900
60008    4900
60011    4857
60007    4853
60014    4831
60009    4822
60010    4793
60015    4706
50007    3757
60016    3691
60017    3662
50008    3550
50016    3529
60018    3457
50010    3390
60020    3388
50014    3383
60019    3373
60022    3361
50029    3344
50023    3331
50025    3303
50009    3279
         ...
40617      42
50270      42
40603      41
50244      41
50257      40
40624      40
50265      36
40609      35
40606      34
40604      34
50259      34
40636      33
40627      33
40637      32
40631      32
50258      32
50268      32
50266      31
40601      31
40634      30
40610      29
50261      29
40611      28
50263      26
50267      26
50260      20
50264      20
40613      12
40629      12
99          1
Name: con, Length: 1382, dtype: int64

# Unidad primaria de muestreo

Número de la unidad primaria de muestreo 0100001-3299999

In [15]:
df_copy['upm']=df_copy['upm'].astype('int64')
df_copy.upm.value_counts()

2107921    268
460169     250
1160872    249
3202317    239
3104127    238
1261319    237
2901145    237
1520943    236
3102796    235
1108161    232
704588     231
160215     229
2960130    228
2701731    228
2001127    227
1526668    227
2460665    227
1562014    226
1461148    225
3061392    223
860591     221
2761026    220
1161107    219
2960066    219
1524857    218
102351     218
762502     216
3103005    216
1204400    216
102330     216
          ...
2501911      6
1404264      6
902786       6
3001079      6
2302167      6
1200754      6
3000207      6
1202343      6
919166       5
1700210      5
804807       5
2806636      5
2808462      5
2300755      5
1201599      4
2105397      4
3000087      4
3004197      4
2800693      4
3102149      4
2801177      4
2301629      3
1514922      3
1702785      3
1701897      3
101879       2
2800542      2
2202100      2
702105       2
99           1
Name: upm, Length: 19340, dtype: int64

# Distribución semanal

Primer dígito 1-5 --> Panel de 1 a 5           
Segundo y tercer dígito 01-13

In [16]:
df_copy['d_sem']=df_copy['d_sem'].astype('int64')
df_copy.d_sem.value_counts()

503    36003
403    35672
102    35411
101    35372
103    35356
501    35253
402    35230
302    35043
301    34981
203    34955
502    34751
202    34725
201    34468
401    34262
303    34140
110    10987
304    10862
510    10807
408    10797
504    10779
111    10701
205    10674
409    10674
509    10645
109    10630
413    10616
112    10594
310    10594
104    10585
507    10576
       ...
512    10498
412    10494
207    10492
505    10484
311    10465
406    10415
211    10401
312    10388
407    10386
306    10373
305    10369
206    10367
107    10366
511    10360
404    10356
113    10351
410    10339
405    10327
308    10286
212    10263
106    10259
307    10255
506    10204
513    10187
108    10167
309    10162
210    10132
508    10046
209    10011
99         1
Name: d_sem, Length: 66, dtype: int64

# Número progresivo de la vivienda

Número progresivo de la vivienda en el listado --> 0001-9999

In [17]:
df_copy['n_pro_viv']=df_copy['n_pro_viv'].astype('int64')
df_copy.n_pro_viv.value_counts()

38     7889
59     7816
14     7784
18     7727
67     7727
22     7647
20     7643
2      7633
43     7627
3      7572
34     7561
47     7547
70     7524
51     7518
39     7511
63     7502
31     7493
36     7485
78     7450
11     7440
92     7439
72     7428
74     7419
24     7414
5      7413
62     7411
48     7392
29     7388
19     7370
86     7364
       ...
460       6
494       6
446       5
478       5
842       5
469       5
549       5
522       4
508       4
514       4
648       4
485       4
526       4
552       4
530       4
540       4
451       4
559       3
546       3
532       3
456       3
430       3
618       3
536       2
534       2
600       2
499       2
573       2
466       2
556       1
Name: n_pro_viv, Length: 541, dtype: int64

# Número de vivienda (v_sel)

 1,Vivienda uno                          
 2,Vivienda dos            
 3,Vivienda tres             
 4,Vivienda cuatro             
 5,Vivienda cinco             
 6,Vivienda séis             
 7,Vivienda siete             
 8,Vivienda ocho             
 9,Vivienda nueve             
10,Vivienda diez             
11,Vivienda once             
12,Vivienda doce             
13,Vivienda trece              
14,Vivienda catorce              
15,Vivienda quince              
16,Vivienda dieciseis              
17,Vivienda diecisiete              
18,Vivienda dieciocho              
19,Vivienda diecinueve              
20,Vivienda veinte              
21,Vivienda veintiuno              
22,Vivienda veintidos              
23,Vivienda veintitres              
24,Vivienda veinticatro              
25,Vivienda veinticinco              
26,Vivienda veintiseis              
27,Vivienda veintisiete              
28,Vivienda veintiocho              
29,Vivienda veintinueve              
30,Vivienda treinta

In [18]:
df_copy['v_sel']=df_copy['v_sel'].astype('int64')
df_copy.v_sel.value_counts()

1     166999
3     165278
4     165007
2     164968
5     163534
8      15153
17     15052
6      14992
13     14968
14     14832
15     14828
12     14794
9      14793
16     14783
11     14715
7      14688
18     14642
10     14612
19     14265
20     13841
21      1244
22       438
23       136
24        12
99         1
Name: v_sel, dtype: int64

# PREGUNTA 6 ¿Recibe o le pagan ?

## Opción1- Por comicion (p6_1)

99 --> no      
1 --> si

In [19]:
df_copy['p6_1']=df_copy['p6_1'].astype('int64')
df_copy.p6_1.value_counts()

99    1027173
1       21402
Name: p6_1, dtype: int64

## Opción2- A destajo (por pieza), servicio u obra realizada?

99-->no            
2-->si

In [20]:
df_copy['p6_2']=df_copy['p6_2'].astype('int64')
df_copy.p6_2.value_counts()

99    1034687
2       13888
Name: p6_2, dtype: int64

## Opción3- Por honorarios?

99-->no         
3-->si

In [21]:
df_copy['p6_3']=df_copy['p6_3'].astype('int64')
df_copy.p6_3.value_counts()

99    1046612
3        1963
Name: p6_3, dtype: int64

## Opción4- Con propinas?

99-->no   
4-->si

In [22]:
df_copy['p6_4']=df_copy['p6_4'].astype('int64')
df_copy.p6_4.value_counts()

99    1039840
4        8735
Name: p6_4, dtype: int64

## Opción5- Con bonos de compensación o de productividad?

99-->no          
5-->si

In [23]:
df_copy['p6_5']=df_copy['p6_5'].astype('int64')
df_copy.p6_5.value_counts()

99    1038993
5        9582
Name: p6_5, dtype: int64

## Opción6- Con vales o productos comercializables?

99-->no    
6-->si

In [24]:
df_copy['p6_6']=df_copy['p6_6'].astype('int64')
df_copy.p6_6.value_counts()

99    1021508
6       27067
Name: p6_6, dtype: int64

## Opción7- Solo recibe sueldo, salario o jornal?

99-->no  
7-->si

In [25]:
df_copy['p6_7']=df_copy['p6_7'].astype('int64')
df_copy.p6_7.value_counts()

99    744936
7     303639
Name: p6_7, dtype: int64

## Opción8- Solo lo que le deja su negocio?

99-->no  
8-->si

In [26]:
df_copy['p6_8']=df_copy['p6_8'].astype('int64')
df_copy.p6_8.value_counts()

99    934628
8     113947
Name: p6_8, dtype: int64

## Opción9- No le pagan ni recibe ingresos (incluyen autoconsumo agropecuario)?

99-->no       
9-->si

In [27]:
df_copy['p6_9']=df_copy['p6_9'].astype('int64')
df_copy.p6_9.value_counts()

99    1017728
9       30847
Name: p6_9, dtype: int64

## Opción10- Ninguna de las anteriores?

99-->no   
10-->si

In [28]:
df_copy['p6_10']=df_copy['p6_10'].astype('int64')
df_copy.p6_10.value_counts()

99    999772
10     48803
Name: p6_10, dtype: int64

## Opción99- No se sabe?
    
99-->nose sabe

In [29]:
df_copy['p6_99']=df_copy['p6_99'].astype('int64')
df_copy.p6_99.value_counts()

99    1048575
Name: p6_99, dtype: int64

# Pregunta 6A: Aparte de lo que me acaba de mencionar, ¿obtiene o le pagan sus ingresos?

## Opción 1: a sueldo,salario o jornal?

99-->no aplica    
1-->sueldo,salario o jornada

In [30]:
df_copy['p6a1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p6a1"]
df_copy[columnas]

        p6a1
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [31]:
df_copy['p6a1']=df_copy['p6a1'].astype('int64')
df_copy.p6a1.value_counts()

99    965224
1      83351
Name: p6a1, dtype: int64

## Opción 2: por ganancias o de lo que deja su negocio?

99-->no aplica          
2-->or ganancia o lo que deja en negocio

In [32]:
df_copy['p6a2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p6a2"]
df_copy[columnas]

        p6a2
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [33]:
df_copy['p6a2']=df_copy['p6a2'].astype('int64')
df_copy.p6a2.value_counts()

99    1033954
2       14621
Name: p6a2, dtype: int64

## Opción 3: no le pagan ni recibe ingresos(incluyendo autoconsumo agropecuario)?

99-->no aplica        
3-->no le pagan ni reciben ingresos

In [34]:
df_copy['p6a3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p6a3"]
df_copy[columnas]

        p6a3
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [35]:
df_copy['p6a3']=df_copy['p6a3'].astype('int64')
df_copy.p6a3.value_counts()

99    1047986
3         589
Name: p6a3, dtype: int64

## Opción 4: ninguna de las anteriores 

99-->no aplica            
4-->ninguna de las anteriores

In [36]:
df_copy['p6a4'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p6a4"]
df_copy[columnas]

        p6a4
0          4
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555    4
1048556   99
1048557   99
1048558   99
1048559    4
1048560   99
1048561    4
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [37]:
df_copy['p6a4']=df_copy['p6a4'].astype('int64')
df_copy.p6a4.value_counts()

99    1021779
4       26796
Name: p6a4, dtype: int64

## Opción 9: no sabe

99-->no aplica       
9-->no se sabe

In [38]:
df_copy['p6a9'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p6a9"]
df_copy[columnas]

        p6a9
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [39]:
df_copy['p6a9']=df_copy['p6a9'].astype('int64')
df_copy.p6a9.value_counts()

99    1048534
9          41
Name: p6a9, dtype: int64

# ¿Cada cuándo obtiene ... sus ingresos o le pagan?

1-->cada mes    
2-->cada 15 dias      
3-->cada semana      
4-->diariamente       
5-->otro periodo de pago            
6-->le pagan por pieza producida o vendida, servicio u obra realizada     
7-->no supo estimar      
99-->se nego a contestar

In [40]:
df_copy['p6b1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p6b1"]
df_copy[columnas]

        p6b1
0          2
1          4
2          2
3         99
4         99
5          2
6          2
7          8
8          4
9          2
10        99
11        99
12        99
13         2
14        99
15        99
16         7
17         3
18        99
19         3
20        99
21        99
22         2
23        99
24         7
25         7
26         7
27         3
28         8
29        99
...      ...
1048545    2
1048546   99
1048547    3
1048548    3
1048549    2
1048550   99
1048551   99
1048552   99
1048553   99
1048554    3
1048555    4
1048556   99
1048557    2
1048558    4
1048559    3
1048560   99
1048561    4
1048562   99
1048563   99
1048564   99
1048565   99
1048566    3
1048567    4
1048568   99
1048569   99
1048570   99
1048571    1
1048572    3
1048573    3
1048574   99

[1048575 rows x 1 columns]

In [41]:
df_copy['p6b1']=df_copy['p6b1'].astype('int64')
df_copy.p6b1.value_counts()

99    506316
3     203620
7     102140
2      97911
4      69373
1      29574
8      28614
5       9236
6       1791
Name: p6b1, dtype: int64

# Cantidad en pesos

000001-999998-->cantidad en pesos            
99-->no sabe

In [42]:
df_copy['p6b2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p6b2"]
df_copy[columnas]

            p6b2
0         3000.0
1         2580.0
2         4000.0
3           99.0
4           99.0
5         8000.0
6         6000.0
7           99.0
8         5160.0
9         1000.0
10          99.0
11          99.0
12          99.0
13       16000.0
14          99.0
15          99.0
16          99.0
17        4730.0
18          99.0
19        3010.0
20          99.0
21          99.0
22        2200.0
23          99.0
24          99.0
25          99.0
26          99.0
27        5160.0
28          99.0
29          99.0
...          ...
1048545   8000.0
1048546     99.0
1048547   3870.0
1048548   4300.0
1048549  12000.0
1048550     99.0
1048551     99.0
1048552     99.0
1048553     99.0
1048554   6450.0
1048555   9000.0
1048556     99.0
1048557   7000.0
1048558   2400.0
1048559   7740.0
1048560     99.0
1048561   6000.0
1048562     99.0
1048563     99.0
1048564     99.0
1048565     99.0
1048566   4300.0
1048567    774.0
1048568     99.0
1048569     99.0
1048570     99.0
1048571    700.0
1048572   4300.0
1048573   4730.0
1048574     99.0

[1048575 rows x 1 columns]

In [43]:
df_copy['p6b2']=df_copy['p6b2'].astype('int64')
df_copy.p6b2.value_counts()

99       637072
4300      28315
5160      27449
6450      21310
3870      16102
2580      15696
3440      15158
6000      14301
8600      12378
8000      10169
2150      10091
10000      9614
1290       8402
3010       8305
5000       7910
4000       7805
3000       7330
7740       7238
5590       7047
4730       6428
7000       6146
12000      6022
1720       5954
860        5049
9000       4823
6020       4697
12900      4175
10750      4072
3225       3522
6880       3489
          ...
11030         1
2839          1
2834          1
8471          1
6416          1
5904          1
25886         1
13588         1
5392          1
4884          1
9490          1
24850         1
2842          1
8985          1
285           1
10520         1
51460         1
11545         1
4894          1
5401          1
6425          1
72500         1
5915          1
5402          1
17680         1
6939          1
10525         1
18705         1
5397          1
512           1
Name: p6b2, Length: 3902, dtype: int64

## ¿la cantidad de salario que obtiene al mes por su trabajo es? 

1-->Menor a un salario minimo      
2-->Igual a un salario minimo      
3-->más de 1 salario minimo hasta 2        
4-->más de 2 salario minimo hasta 3          
5-->más de 3 salario minimo hasta 5          
6-->más de 5 salario minimo hasta 10          
7-->más de 10 salarios minimos          
8-->no quiso dar información        
99-->no se sabe

In [44]:
df_copy['p6c'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p6c"]
df_copy[columnas]

        p6c
0        99
1        99
2        99
3        99
4        99
5        99
6        99
7         3
8        99
9        99
10       99
11       99
12       99
13       99
14       99
15       99
16        2
17       99
18       99
19       99
20       99
21       99
22       99
23       99
24        3
25        3
26        3
27       99
28        8
29       99
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [45]:
df_copy['p6c']=df_copy['p6c'].astype('int64')
df_copy.p6c.value_counts()

99    917821
9      50084
8      25487
3      17556
4      14556
5       8714
2       6268
1       4687
6       2747
7        655
Name: p6c, dtype: int64

## Por parte de este trabajo ¿... tiene acceso a atención médica en..

1-->El Seguro Social (IMSS)           
2-->El hospital o clínica naval, militar o de Pemex          
3-->El ISSSTE        
4-->El ISSSTE estatal (ISSSTE LEÓN, ISSEMYM)          
5-->Otra institución médica           
6-->No recibe atención médica               
99-->No sabe

In [46]:
df_copy['p6d'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p6d"]
df_copy[columnas]

        p6d
0         6
1         6
2         1
3        99
4        99
5         3
6         1
7         3
8         6
9         6
10       99
11       99
12       99
13        1
14       99
15       99
16        1
17        6
18       99
19        6
20       99
21       99
22        6
23       99
24        6
25        6
26        6
27        6
28        6
29       99
...      ..
1048545   1
1048546  99
1048547   1
1048548   1
1048549   1
1048550  99
1048551  99
1048552  99
1048553  99
1048554   1
1048555   6
1048556  99
1048557   3
1048558   6
1048559   1
1048560  99
1048561   6
1048562  99
1048563  99
1048564  99
1048565  99
1048566   1
1048567   6
1048568  99
1048569  99
1048570  99
1048571   6
1048572   6
1048573   1
1048574  99

[1048575 rows x 1 columns]

In [47]:
df_copy['p6d']=df_copy['p6d'].astype('int64')
df_copy.p6d.value_counts()

99    474880
6     331387
1     195349
3      30504
4       7855
5       4262
2       2431
9       1907
Name: p6d, dtype: int64

## Además del trabajo principal del que ya hablamos, ¿... tiene o realiza otra actividad como...

1-->Vender o hacer productos para la venta (alimentos,productos de belleza,ropa)
2-->Prestar servicios (dar clases, cortar el cabello, lavar ropa ajena)     
3-->Trabajar su tierra o parcela y/o criar de animales           
4-->trabajar por propinas,comisión o destajo             
5-->trabajar como asalariado(sueldo, salario o jornal)         
6-->En las tierras de un familiar o de otra persona          
7-->No tiene otro trabajo        
99-->No sabe

In [48]:
df_copy['p7'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7"]
df_copy[columnas]

         p7
0         7
1         7
2         7
3        99
4        99
5         7
6         7
7         7
8         7
9         7
10       99
11       99
12       99
13        7
14       99
15       99
16        7
17        7
18       99
19        7
20       99
21       99
22        7
23       99
24        7
25        7
26        7
27        7
28        7
29       99
...      ..
1048545   7
1048546  99
1048547   7
1048548   7
1048549   7
1048550  99
1048551  99
1048552  99
1048553  99
1048554   7
1048555   7
1048556  99
1048557   7
1048558   7
1048559   7
1048560  99
1048561   7
1048562  99
1048563  99
1048564  99
1048565  99
1048566   7
1048567   7
1048568  99
1048569  99
1048570  99
1048571   7
1048572   7
1048573   7
1048574  99

[1048575 rows x 1 columns]

In [49]:
df_copy['p7']=df_copy['p7'].astype('int64')
df_copy.p7.value_counts()

7     540760
99    474880
5      10670
2       7091
1       6956
6       4096
3       3567
4        516
9         39
Name: p7, dtype: int64

## ¿Cuáles son las tareas o funciones principales que… desempeña en su segundo trabajo?

preguntar por formula

In [50]:
df_copy['p7a'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7a"]
df_copy[columnas]

          p7a
0        99.0
1        99.0
2        99.0
3        99.0
4        99.0
5        99.0
6        99.0
7        99.0
8        99.0
9        99.0
10       99.0
11       99.0
12       99.0
13       99.0
14       99.0
15       99.0
16       99.0
17       99.0
18       99.0
19       99.0
20       99.0
21       99.0
22       99.0
23       99.0
24       99.0
25       99.0
26       99.0
27       99.0
28       99.0
29       99.0
...       ...
1048545  99.0
1048546  99.0
1048547  99.0
1048548  99.0
1048549  99.0
1048550  99.0
1048551  99.0
1048552  99.0
1048553  99.0
1048554  99.0
1048555  99.0
1048556  99.0
1048557  99.0
1048558  99.0
1048559  99.0
1048560  99.0
1048561  99.0
1048562  99.0
1048563  99.0
1048564  99.0
1048565  99.0
1048566  99.0
1048567  99.0
1048568  99.0
1048569  99.0
1048570  99.0
1048571  99.0
1048572  99.0
1048573  99.0
1048574  99.0

[1048575 rows x 1 columns]

In [51]:
df_copy['p7a']=df_copy['p7a'].astype('int64')
df_copy.p7a.value_counts()

99      1015679
6111       2527
9111       2306
4211       1697
4111       1688
4224       1204
9611       1195
9521        735
2321        730
7121        719
9512        708
9221        640
7513        576
5114        570
9411        438
8342        421
2172        393
9621        369
2632        348
5116        343
2332        339
2331        319
7221        308
5211        283
7341        268
9112        262
6121        260
7311        251
2642        245
9236        243
         ...
2523          1
1622          1
7344          1
8155          1
1621          1
9731          1
9211          1
8181          1
2254          1
1624          1
4233          1
2391          1
2123          1
9312          1
2662          1
2113          1
8122          1
9322          1
2652          1
2524          1
2992          1
2522          1
8143          1
4213          1
1512          1
2611          1
5251          1
8142          1
2421          1
8151          1
Name: p7a, Length: 403, dtype: int64

## ¿Cuál es el nombre de la empresa, negocio o institución para la que... realiza este otro trabajo

1-->Nombre de la empresa         
2-->El negocio no tiene nombre            
3-->Es trabajador (subordinado) de una unidad doméstica o trabajador(a) de otro trabajador(a)                   
4-->Es un(a) trabajador(a) en el extranjero             
99-->No sabe

In [52]:
df_copy['p7b'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7b"]
df_copy[columnas]

        p7b
0        99
1        99
2        99
3        99
4        99
5        99
6        99
7        99
8        99
9        99
10       99
11       99
12       99
13       99
14       99
15       99
16       99
17       99
18       99
19       99
20       99
21       99
22       99
23       99
24       99
25       99
26       99
27       99
28       99
29       99
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [53]:
df_copy['p7b']=df_copy['p7b'].astype('int64')
df_copy.p7b.value_counts()

99    1015679
2       21865
1        9333
3        1673
4          17
9           8
Name: p7b, dtype: int64

## no se encontro el Catálogo de Código SCIAN

In [54]:
df_copy['p7c']=df_copy['p7c'].astype('int64')
df_copy.p7c.value_counts()

99      1015679
1110       5638
7221       2068
4611       1760
2382       1584
8140       1576
4690       1266
3110        972
1121        957
5411        885
6112        836
8121        769
8112        717
6211        661
8111        614
4850        555
2361        554
7111        513
7222        482
6132        467
4651        435
6141        396
4661        383
3320        376
6131        370
4612        358
5613        353
4631        329
6111        317
6222        259
         ...
5190          6
6232          6
8124          4
9999          4
7115          4
5180          4
7120          3
3340          3
5510          3
2122          3
5321          3
2210          3
1142          3
9311          2
5616          2
6150          2
4882          2
3350          2
4810          2
8125          2
7133          2
4699          1
2121          1
2131          1
8119          1
5612          1
3399          1
2110          1
4360          1
2399          1
Name: p7c, Length: 147, dtype: int64

## Por parte de este segundo trabajo, ¿tiene acceso a atención médica en...

1-->El seguro social(IMSS)      
2-->El ISSSTE         
3-->Otra institución médica       
4-->No recibe atención médica                 
99-->no se sabe

In [55]:
df_copy['p7d'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7d"]
df_copy[columnas]

        p7d
0        99
1        99
2        99
3        99
4        99
5        99
6        99
7        99
8        99
9        99
10       99
11       99
12       99
13       99
14       99
15       99
16       99
17       99
18       99
19       99
20       99
21       99
22       99
23       99
24       99
25       99
26       99
27       99
28       99
29       99
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [56]:
df_copy['p7d']=df_copy['p7d'].astype('int64')
df_copy.p7d.value_counts()

99    1038428
4        9415
1         354
2         291
3          58
9          29
Name: p7d, dtype: int64

# Atención desde la pregunta p7e hasta la pregunta p7g aplican apartir del II trimestre de 2007 (del campo 40 al 48)

## ¿Aproximadamente cuántas personas laboran donde trabaja ... en su segundo empleo?

1-->1 persona           
2-->2 a 5 personas        
3-->6 a 10 personas          
4-->11 a 15 personas          
5-->16 a 20 personas           
6-->21 a 30 personas            
7-->31 a 50 personas            
8-->51 a 100 personas            
9-->101 a 250 personas          
10-->251 a 500 personas           
11-->501 y más personas             
99-->no se sabe

In [57]:
df_copy['p7e'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7e"]
df_copy[columnas]

          p7e
0        99.0
1        99.0
2        99.0
3        99.0
4        99.0
5        99.0
6        99.0
7        99.0
8        99.0
9        99.0
10       99.0
11       99.0
12       99.0
13       99.0
14       99.0
15       99.0
16       99.0
17       99.0
18       99.0
19       99.0
20       99.0
21       99.0
22       99.0
23       99.0
24       99.0
25       99.0
26       99.0
27       99.0
28       99.0
29       99.0
...       ...
1048545  99.0
1048546  99.0
1048547  99.0
1048548  99.0
1048549  99.0
1048550  99.0
1048551  99.0
1048552  99.0
1048553  99.0
1048554  99.0
1048555  99.0
1048556  99.0
1048557  99.0
1048558  99.0
1048559  99.0
1048560  99.0
1048561  99.0
1048562  99.0
1048563  99.0
1048564  99.0
1048565  99.0
1048566  99.0
1048567  99.0
1048568  99.0
1048569  99.0
1048570  99.0
1048571  99.0
1048572  99.0
1048573  99.0
1048574  99.0

[1048575 rows x 1 columns]

In [58]:
df_copy['p7e']=df_copy['p7e'].astype('int64')
df_copy.p7e.value_counts()

99    1038615
2        4791
1        3671
3         383
11        234
4         179
8         156
5         134
7         127
6         127
9         100
10         58
Name: p7e, dtype: int64

## ¿Cuántos días y cuántas horas le dedicó ... a su segundo trabajo la semana pasada?

1-->Si dió horas y/o minutos a la semana        
2-->No trabajó la semana pasada            
99--> no se sabe

In [59]:
df_copy['p7f'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7f"]
df_copy[columnas]

        p7f
0        99
1        99
2        99
3        99
4        99
5        99
6        99
7        99
8        99
9        99
10       99
11       99
12       99
13       99
14       99
15       99
16       99
17       99
18       99
19       99
20       99
21       99
22       99
23       99
24       99
25       99
26       99
27       99
28       99
29       99
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [60]:
df_copy['p7f']=df_copy['p7f'].astype('int64')
df_copy.p7f.value_counts()

99    1038428
1        7824
2        2323
Name: p7f, dtype: int64

## Número de días trabajados 

1--7-->Total de dias trabajados a la semana         
99-->no sabemos cuantos dias

In [61]:
df_copy['p7f_dias'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7f_dias"]
df_copy[columnas]

        p7f_dias
0             99
1             99
2             99
3             99
4             99
5             99
6             99
7             99
8             99
9             99
10            99
11            99
12            99
13            99
14            99
15            99
16            99
17            99
18            99
19            99
20            99
21            99
22            99
23            99
24            99
25            99
26            99
27            99
28            99
29            99
...          ...
1048545       99
1048546       99
1048547       99
1048548       99
1048549       99
1048550       99
1048551       99
1048552       99
1048553       99
1048554       99
1048555       99
1048556       99
1048557       99
1048558       99
1048559       99
1048560       99
1048561       99
1048562       99
1048563       99
1048564       99
1048565       99
1048566       99
1048567       99
1048568       99
1048569       99
1048570       99
1048571       99
1048572       99
1048573       99
1048574       99

[1048575 rows x 1 columns]

In [62]:
df_copy['p7f_dias']=df_copy['p7f_dias'].astype('int64')
df_copy.p7f_dias.value_counts()

99    1040751
2        1864
3        1336
1        1296
5        1117
7         942
6         694
4         550
9          25
Name: p7f_dias, dtype: int64

## Número de horas trabajadas 

1--97-->Número de horas dedicadas a su segundo trabajo       
98-->98 horas y más         
99-->No sabe el total de horas

In [63]:
df_copy['p7f_horas'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7f_horas"]
df_copy[columnas]

         p7f_horas
0             99.0
1             99.0
2             99.0
3             99.0
4             99.0
5             99.0
6             99.0
7             99.0
8             99.0
9             99.0
10            99.0
11            99.0
12            99.0
13            99.0
14            99.0
15            99.0
16            99.0
17            99.0
18            99.0
19            99.0
20            99.0
21            99.0
22            99.0
23            99.0
24            99.0
25            99.0
26            99.0
27            99.0
28            99.0
29            99.0
...            ...
1048545       99.0
1048546       99.0
1048547       99.0
1048548       99.0
1048549       99.0
1048550       99.0
1048551       99.0
1048552       99.0
1048553       99.0
1048554       99.0
1048555       99.0
1048556       99.0
1048557       99.0
1048558       99.0
1048559       99.0
1048560       99.0
1048561       99.0
1048562       99.0
1048563       99.0
1048564       99.0
1048565       99.0
1048566       99.0
1048567       99.0
1048568       99.0
1048569       99.0
1048570       99.0
1048571       99.0
1048572       99.0
1048573       99.0
1048574       99.0

[1048575 rows x 1 columns]

In [64]:
df_copy['p7f_horas']=df_copy['p7f_horas'].astype('int64')
df_copy.p7f_horas.value_counts()

99    1040814
6         662
8         613
10        597
12        487
4         472
16        388
20        363
15        336
5         311
3         306
14        304
24        298
2         281
18        251
30        249
7         236
21        228
9         214
28        157
25        151
40        140
35        128
1          90
36         78
42         63
32         57
48         56
56         23
13         19
       ...
11         13
17         12
33         11
60         11
26         11
22         10
70          7
19          7
23          5
29          5
54          5
37          5
72          4
98          4
38          4
52          2
39          2
96          2
44          2
66          2
84          1
80          1
77          1
64          1
43          1
63          1
47          1
31          1
55          1
34          1
Name: p7f_horas, Length: 64, dtype: int64

# Pregunta 7G: Aproximadamente ¿Cuánto gana … al mes en su segundo trabajo?

## Opción 1: en efectivo?

99-->no aplica       
1-->efectivo

In [65]:
df_copy['p7g1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7g1"]
df_copy[columnas]

        p7g1
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [66]:
df_copy['p7g1']=df_copy['p7g1'].astype('int64')
df_copy.p7g1.value_counts()

99    1041954
1        6621
Name: p7g1, dtype: int64

## Opción 2: en especie

99-->no aplica         
1-->En especie

In [67]:
df_copy['p7g2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7g2"]
df_copy[columnas]

        p7g2
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [68]:
df_copy['p7g2']=df_copy['p7g2'].astype('int64')
df_copy.p7g2.value_counts()

99    1048560
2          15
Name: p7g2, dtype: int64

## Opción 3: no le pagan ni recibe ingresos (incluye autoconsumo agropecuario)

99-->no aplica         
3-->No le pagan ni recibe ingresos (incluye autoconsumo agropecuario)

In [69]:
df_copy['p7g3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7g3"]
df_copy[columnas]

        p7g3
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [70]:
df_copy['p7g3']=df_copy['p7g3'].astype('int64')
df_copy.p7g3.value_counts()

99    1046697
3        1878
Name: p7g3, dtype: int64

## Opción 9: no sabe

99-->no aplica        
9-->no se sabe

In [71]:
df_copy['p7g9'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7g9"]
df_copy[columnas]

        p7g9
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [72]:
df_copy['p7g9']=df_copy['p7g9'].astype('int64')
df_copy.p7g9.value_counts()

99    1046939
9        1636
Name: p7g9, dtype: int64

## Cantidad en pesos

1-999998-->Cantidad en pesos      
999999-->no se sabe         
99-->no aplica

In [73]:
df_copy['p7gcan'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p7gcan"]
df_copy[columnas]

         p7gcan
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [74]:
df_copy['p7gcan']=df_copy['p7gcan'].astype('int64')
df_copy.p7gcan.value_counts()

99        1041942
2000          629
1000          583
4000          346
3000          338
800           318
500           280
1200          273
1500          242
600           239
5000          219
6000          197
400           189
1600          144
200           133
2400          127
300           127
8000          121
2500          112
10000         108
2580           67
1290           61
2800           58
860            56
3200           56
1800           54
2150           53
3600           50
3500           50
7000           50
           ...
1740            1
25800           1
5300            1
1204            1
3250            1
167             1
666             1
6800            1
252             1
768             1
3900            1
10500           1
1333            1
820             1
8500            1
301             1
810             1
1833            1
4900            1
200000          1
287             1
3354            1
795             1
9500            1
1806            1
1292            1
32006           1
774             1
3840            1
2560            1
Name: p7gcan, Length: 280, dtype: int64

# Pregunta 8: Durante los últimos tres mese, ¿…a tratado de

## Opción 1: buscar otro trabajo en otro país o hacer preparativos para cruzar la frontera?

99-->no aplica     
1-->buscar otro trabajo en otro país o hacer preparativos para cruzar la frontera?

In [75]:
df_copy['p8_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p8_1"]
df_copy[columnas]

        p8_1
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [76]:
df_copy['p8_1']=df_copy['p8_1'].astype('int64')
df_copy.p8_1.value_counts()

99    1047950
1         625
Name: p8_1, dtype: int64

## Opción 2: buscar otro trabajo aquí en el país?

99-->no aplica        
2-->buscar otro trabajo aquí en el país?

In [77]:
df_copy['p8_2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p8_2"]
df_copy[columnas]

        p8_2
0          2
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [78]:
df_copy['p8_2']=df_copy['p8_2'].astype('int64')
df_copy.p8_2.value_counts()

99    1028065
2       20510
Name: p8_2, dtype: int64

## Opción 3: poner un negocio o realizar una actividad por su cuenta, sin poder todavía comenzar?

99-->no aplica        
3-->poner un negocio o realizar una actividad por su cuenta, sin poder todavía comenzar?

In [79]:
df_copy['p8_3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p8_3"]
df_copy[columnas]

        p8_3
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [80]:
df_copy['p8_3']=df_copy['p8_3'].astype('int64')
df_copy.p8_3.value_counts()

99    1047418
3        1157
Name: p8_3, dtype: int64

## Opción 4: entonces ¿no ha tratado de buscar otro trabajo?

99-->no aplica        
4-->Entonces, ¿no ha tratado de buscar otro trabajo?

In [81]:
df_copy['p8_4'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p8_4"]
df_copy[columnas]

        p8_4
0         99
1          4
2          4
3         99
4         99
5          4
6          4
7          4
8          4
9          4
10        99
11        99
12        99
13         4
14        99
15        99
16         4
17         4
18        99
19         4
20        99
21        99
22         4
23        99
24         4
25         4
26         4
27         4
28         4
29        99
...      ...
1048545    4
1048546   99
1048547    4
1048548    4
1048549    4
1048550   99
1048551   99
1048552   99
1048553   99
1048554    4
1048555    4
1048556   99
1048557    4
1048558    4
1048559    4
1048560   99
1048561    4
1048562   99
1048563   99
1048564   99
1048565   99
1048566    4
1048567    4
1048568   99
1048569   99
1048570   99
1048571    4
1048572    4
1048573    4
1048574   99

[1048575 rows x 1 columns]

In [82]:
df_copy['p8_4']=df_copy['p8_4'].astype('int64')
df_copy.p8_4.value_counts()

4     552628
99    495947
Name: p8_4, dtype: int64

## Opción 9: no se sabe

99-->no aplica        
9-->no se sabe

In [83]:
df_copy['p8_9'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p8_9"]
df_copy[columnas]

        p8_9
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [84]:
df_copy['p8_9']=df_copy['p8_9'].astype('int64')
df_copy.p8_9.value_counts()

99    1048394
9         181
Name: p8_9, dtype: int64

## Lo que ... intenta ¿es

1-->tener más de un trabajo?     
2-->tener un trabajo de tiempo completo?        
3-->conseguir una actividad en la que pueda trabajar más horas para ganar más?      
4-->Ninguna de las anteriores          
99-->no se sabe

In [85]:
df_copy['p8a'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p8a"]
df_copy[columnas]

        p8a
0         3
1        99
2        99
3        99
4        99
5        99
6        99
7        99
8        99
9        99
10       99
11       99
12       99
13       99
14       99
15       99
16       99
17       99
18       99
19       99
20       99
21       99
22       99
23       99
24       99
25       99
26       99
27       99
28       99
29       99
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [86]:
df_copy['p8a']=df_copy['p8a'].astype('int64')
df_copy.p8a.value_counts()

99    1026438
3        7178
2        5048
1        4981
4        4897
9          33
Name: p8a, dtype: int64

## ¿Cuál es el motivo principal por el que está buscando otro trabajo?

1-->Teme quedarse sin su actual trabajo, que haya recorte de personal o está por terminar su contrato     
2-->Mejorar sus ingresos trabajando la misma jornada       
3-->Mejorar sus condiciones de trabajo (horario, prestaciones laborales, ambiente de trabajo)       
4-->Contar con seguridad social (IMSS o ISSSTE)        
5-->Tener un trabajo acorde a su escolaridad, experiencia o capacitación       
6-->Tener un trabajo independiente     
7-->Tener tiempo para atender o convivir con su familia          
8-->Tener tiempo para estudiar o realizar otras actividades       
9-->Ninguna de las anteriores        
99-->no se sabe

In [87]:
df_copy['p8b'].replace(to_replace=['0', '99'],value='99',inplace=True)
columnas = ["p8b"]
df_copy[columnas]

          p8b
0        99.0
1        99.0
2        99.0
3        99.0
4        99.0
5        99.0
6        99.0
7        99.0
8        99.0
9        99.0
10       99.0
11       99.0
12       99.0
13       99.0
14       99.0
15       99.0
16       99.0
17       99.0
18       99.0
19       99.0
20       99.0
21       99.0
22       99.0
23       99.0
24       99.0
25       99.0
26       99.0
27       99.0
28       99.0
29       99.0
...       ...
1048545  99.0
1048546  99.0
1048547  99.0
1048548  99.0
1048549  99.0
1048550  99.0
1048551  99.0
1048552  99.0
1048553  99.0
1048554  99.0
1048555  99.0
1048556  99.0
1048557  99.0
1048558  99.0
1048559  99.0
1048560  99.0
1048561  99.0
1048562  99.0
1048563  99.0
1048564  99.0
1048565  99.0
1048566  99.0
1048567  99.0
1048568  99.0
1048569  99.0
1048570  99.0
1048571  99.0
1048572  99.0
1048573  99.0
1048574  99.0

[1048575 rows x 1 columns]

In [88]:
df_copy['p8b']=df_copy['p8b'].astype('int64')
df_copy.p8b.value_counts()

99    1046798
2         737
3         450
5         168
4         155
1          89
9          62
8          43
7          39
6          34
Name: p8b, dtype: int64

## Alguna vez ... se quedó sin trabajo o negocio y tuvo que buscar otro?

1-->si      
2-->no   
99-->no se sabe

In [89]:
df_copy['p9'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9"]
df_copy[columnas]

         p9
0         2
1         2
2         2
3        99
4        99
5         2
6         2
7         2
8         1
9         2
10       99
11       99
12       99
13        1
14       99
15       99
16        1
17        1
18       99
19        1
20       99
21       99
22        1
23       99
24        1
25        2
26        1
27        1
28        1
29       99
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [90]:
df_copy['p9']=df_copy['p9'].astype('int64')
df_copy.p9.value_counts()

99    880694
2     114686
1      52442
9        753
Name: p9, dtype: int64

## La última vez que ... se quedó sin trabajo  ¿cuál era la situación?

1-->¿Perdió o terminó su empleo?        
2-->¿Renunció a su empleo?         
3-->¿Cerró o dejó un negocio propio?        
4-->Se pensionó, jubiló o se retiró de su negocio        
5-->Lo detuvieron, se accidentó o se enfermó por una larga temporada        
6-->Regresó o lo deportaron de Estados Unidos        
7-->Un fenómeno natural o siniestro afectó a su fuente de trabajo         
8-->Ninguna de las anteriores        
99-->No se sabe

In [91]:
df_copy['p9a'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9a"]
df_copy[columnas]

        p9a
0        99
1        99
2        99
3        99
4         3
5        99
6        99
7        99
8         2
9        99
10        4
11       99
12       99
13        3
14        2
15        4
16        2
17        1
18        1
19        1
20       99
21       99
22        2
23        4
24        1
25       99
26        1
27        2
28        2
29       99
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [92]:
df_copy['p9a']=df_copy['p9a'].astype('int64')
df_copy.p9a.value_counts()

99    931001
2      55787
1      34205
4      12065
3       7597
5       6026
6       1036
8        662
9        161
7         35
Name: p9a, dtype: int64

## En esa ocasión

1-->la fuente de empleo cerró o quebró       
2-->hubo recorte de personal         
3-->la empresa se cambió de ciudad o de país        
4-->no le renovaron su contrato         
5-->no lo volvieron a llamar         
6-->lo despidieron        
7-->Ninguna de las anteriores        
99-->no se sabe

In [93]:
df_copy['p9b'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9b"]
df_copy[columnas]

        p9b
0        99
1        99
2        99
3        99
4        99
5        99
6        99
7        99
8        99
9        99
10       99
11       99
12       99
13       99
14       99
15       99
16       99
17        6
18        6
19        1
20       99
21       99
22       99
23       99
24        1
25       99
26        2
27       99
28       99
29       99
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [94]:
df_copy['p9b']=df_copy['p9b'].astype('int64')
df_copy.p9b.value_counts()

99    1013547
2       12609
5        7225
1        6792
4        3380
6        3332
7        1050
3         431
9         209
Name: p9b, dtype: int64

## ¿Cuál fue el motivo principal?

1-->Conflicto laboral y/o sindical        
2-->Conflicto con su jefe o superior      
3-->Falta de calificación o capacitación        
4-->Ya no hubo más trabajo       
5-->Incumplimiento con la empresa         
6-->Discriminación por su aspecto físico        
7-->La edad (joven o viejo)       
8-->Enfermedad o discapacidad        
9-->Embarazo y/o responsabilidades maternas       
10-->Ninguno de los anteriores          
99-->No se sabe

In [95]:
df_copy['p9c'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9c"]
df_copy[columnas]

          p9c
0        99.0
1        99.0
2        99.0
3        99.0
4        99.0
5        99.0
6        99.0
7        99.0
8        99.0
9        99.0
10       99.0
11       99.0
12       99.0
13       99.0
14       99.0
15       99.0
16       99.0
17        5.0
18        5.0
19       99.0
20       99.0
21       99.0
22       99.0
23       99.0
24       99.0
25       99.0
26       99.0
27       99.0
28       99.0
29       99.0
...       ...
1048545  99.0
1048546  99.0
1048547  99.0
1048548  99.0
1048549  99.0
1048550  99.0
1048551  99.0
1048552  99.0
1048553  99.0
1048554  99.0
1048555  99.0
1048556  99.0
1048557  99.0
1048558  99.0
1048559  99.0
1048560  99.0
1048561  99.0
1048562  99.0
1048563  99.0
1048564  99.0
1048565  99.0
1048566  99.0
1048567  99.0
1048568  99.0
1048569  99.0
1048570  99.0
1048571  99.0
1048572  99.0
1048573  99.0
1048574  99.0

[1048575 rows x 1 columns]

In [96]:
df_copy['p9c']=df_copy['p9c'].astype('int64')
df_copy.p9c.value_counts()

99    1034789
4       11303
2         712
10        445
8         303
7         302
5         261
1         245
9         133
3          61
6          21
Name: p9c, dtype: int64

## ¿Cuál fue el motivo principal para separarse de ese trabajo?

1-->Quería ganar más        
2-->Quería independizarse       
3-->Cambio o deterioro en las condiciones de trabajo (prestaciones, ingresos y/o jornadas)          
4-->El trabajo era riesgoso y/o insalubre         
5-->Lo forzaron a renunciar o a pensionarse        
6-->Falta de oportunidades para superarse        
7-->Acoso o falta de respeto a su persona       
8-->Conflicto con su jefe o superior                  
9-->Matrimonio, embarazo y/o responsabilidades       
10-->Un familiar le impidió seguir trabajando               
11-->Quería seguir estudiando             
12-->Ninguno de los anteriores                
99-->No se sabe

In [97]:
df_copy['p9d'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9d"]
df_copy[columnas]

          p9d
0        99.0
1        99.0
2        99.0
3        99.0
4        99.0
5        99.0
6        99.0
7        99.0
8         7.0
9        99.0
10       99.0
11       99.0
12       99.0
13       99.0
14        4.0
15       99.0
16        1.0
17       99.0
18       99.0
19       99.0
20       99.0
21       99.0
22        1.0
23       99.0
24       99.0
25       99.0
26       99.0
27        9.0
28        1.0
29       99.0
...       ...
1048545  99.0
1048546  99.0
1048547  99.0
1048548  99.0
1048549  99.0
1048550  99.0
1048551  99.0
1048552  99.0
1048553  99.0
1048554  99.0
1048555  99.0
1048556  99.0
1048557  99.0
1048558  99.0
1048559  99.0
1048560  99.0
1048561  99.0
1048562  99.0
1048563  99.0
1048564  99.0
1048565  99.0
1048566  99.0
1048567  99.0
1048568  99.0
1048569  99.0
1048570  99.0
1048571  99.0
1048572  99.0
1048573  99.0
1048574  99.0

[1048575 rows x 1 columns]

In [98]:
df_copy['p9d']=df_copy['p9d'].astype('int64')
df_copy.p9d.value_counts()

99    992109
9      21583
1       9630
12      6900
3       5395
11      5131
2       3061
8       1743
10      1571
4        563
6        373
7        340
5        176
Name: p9d, dtype: int64

## ¿Cuál fue el motivo principal por el que... se vio obligado a dejar ese negocio o actividad por su cuenta?

1-->Exceso de deudas o se declaró en quiebra        
2-->Aumento de los precios  de los insumos o la renta del local       
3-->Bajaron las ventas, exceso de competencia        
4-->El negocio resultó menos rentable de lo esperado               
5-->Incumplimiento de los clientes (exceso de cuentas por cobrar)      
6-->Falta de crédito para seguir operando      
7-->Falta de personal adecuando ausentismo o exceso de rotación      
8-->Incumplimiento de los proveedores                             
9-->Problemas de inseguridad pública                       
10-->Problemas con las autoridades (extorsión, multa)                 
11-->Matrimonio, embarazo y/o responsabilidades familiares              
12-->Un familiar le impidió seguir trabajando                
13-->Quería seguir estudiando                 
14-->Ninguno de los anteriores       
99-->No se sabe

In [99]:
df_copy['p9e'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9e"]
df_copy[columnas]

          p9e
0        99.0
1        99.0
2        99.0
3        99.0
4         3.0
5        99.0
6        99.0
7        99.0
8        99.0
9        99.0
10       99.0
11       99.0
12       99.0
13        4.0
14       99.0
15       99.0
16       99.0
17       99.0
18       99.0
19       99.0
20       99.0
21       99.0
22       99.0
23       99.0
24       99.0
25       99.0
26       99.0
27       99.0
28       99.0
29       99.0
...       ...
1048545  99.0
1048546  99.0
1048547  99.0
1048548  99.0
1048549  99.0
1048550  99.0
1048551  99.0
1048552  99.0
1048553  99.0
1048554  99.0
1048555  99.0
1048556  99.0
1048557  99.0
1048558  99.0
1048559  99.0
1048560  99.0
1048561  99.0
1048562  99.0
1048563  99.0
1048564  99.0
1048565  99.0
1048566  99.0
1048567  99.0
1048568  99.0
1048569  99.0
1048570  99.0
1048571  99.0
1048572  99.0
1048573  99.0
1048574  99.0

[1048575 rows x 1 columns]

In [100]:
df_copy['p9e']=df_copy['p9e'].astype('int64')
df_copy.p9e.value_counts()

99    1041015
14       2227
3        2003
11        919
4         830
12        413
1         288
9         223
5         179
6         152
2         137
13         93
10         52
8          24
7          20
Name: p9e, dtype: int64

## ¿En qué año...terminó (o suspendió) ese trabajo u oficio?

1900-año actual-->Año que terminó trabajo      
99-->No sabe año que terminó

In [101]:
df_copy['p9f_anio'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9f_anio"]
df_copy[columnas]

         p9f_anio
0            99.0
1            99.0
2            99.0
3            99.0
4          2015.0
5            99.0
6            99.0
7            99.0
8          2014.0
9            99.0
10         2015.0
11           99.0
12           99.0
13         2006.0
14         2013.0
15         2005.0
16         2011.0
17         2012.0
18         2012.0
19         2011.0
20           99.0
21           99.0
22         2015.0
23         1995.0
24         2009.0
25           99.0
26         2015.0
27         1981.0
28         2008.0
29         2015.0
...           ...
1048545      99.0
1048546      99.0
1048547      99.0
1048548      99.0
1048549      99.0
1048550      99.0
1048551      99.0
1048552      99.0
1048553      99.0
1048554      99.0
1048555      99.0
1048556      99.0
1048557      99.0
1048558      99.0
1048559      99.0
1048560      99.0
1048561      99.0
1048562      99.0
1048563      99.0
1048564      99.0
1048565      99.0
1048566      99.0
1048567      99.0
1048568      99.0
1048569      99.0
1048570      99.0
1048571      99.0
1048572      99.0
1048573      99.0
1048574      99.0

[1048575 rows x 1 columns]

In [102]:
df_copy['p9f_anio']=df_copy['p9f_anio'].astype('int64')
df_copy.p9f_anio.value_counts()

99      926392
2015     27025
2014     15974
2013      9776
2016      7976
2012      7355
2010      6646
2011      5460
2005      3854
2009      3828
2000      3730
2008      3454
2006      3265
2007      2615
1995      1781
2004      1664
2001      1491
1996      1451
2003      1449
2002      1301
1990      1130
1999      1005
1998       912
1985       806
1997       693
1986       594
1994       584
1993       493
1980       478
1992       471
         ...
1974        88
1973        85
1971        84
1968        83
1972        81
1969        61
1967        52
1962        51
1964        40
1963        40
1955        40
1958        29
1961        28
1956        28
1950        26
1959        23
1957        22
1954        16
1952        12
1953        10
1951        10
1945         6
1948         5
1947         5
1949         4
1946         4
1940         3
1944         2
1942         2
1939         1
Name: p9f_anio, Length: 78, dtype: int64

## Mes en que ... terminó (o suspendió) ese trabajo u oficio

1-->Enero     
2-->Febrero       
3-->Marzo      
4-->Abril        
5-->Mayo       
6-->Junio         
7-->Julio      
8-->Agosto     
9-->Septiembre        
10-->Octubre              
11-->Noviembre          
12-->Diciembre    
99-->no se sabe

In [103]:
df_copy['p9f_mes'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9f_mes"]
df_copy[columnas]

         p9f_mes
0           99.0
1           99.0
2           99.0
3           99.0
4           12.0
5           99.0
6           99.0
7           99.0
8           99.0
9           99.0
10           7.0
11          99.0
12          99.0
13          99.0
14          99.0
15          99.0
16          99.0
17          99.0
18          99.0
19          99.0
20          99.0
21          99.0
22           1.0
23          99.0
24          99.0
25          99.0
26           5.0
27          99.0
28          99.0
29           6.0
...          ...
1048545     99.0
1048546     99.0
1048547     99.0
1048548     99.0
1048549     99.0
1048550     99.0
1048551     99.0
1048552     99.0
1048553     99.0
1048554     99.0
1048555     99.0
1048556     99.0
1048557     99.0
1048558     99.0
1048559     99.0
1048560     99.0
1048561     99.0
1048562     99.0
1048563     99.0
1048564     99.0
1048565     99.0
1048566     99.0
1048567     99.0
1048568     99.0
1048569     99.0
1048570     99.0
1048571     99.0
1048572     99.0
1048573     99.0
1048574     99.0

[1048575 rows x 1 columns]

In [104]:
df_copy['p9f_mes']=df_copy['p9f_mes'].astype('int64')
df_copy.p9f_mes.value_counts()

99    1013772
12       7334
1        5704
11       3818
2        3511
10       2655
8        2557
9        2176
6        1776
7        1724
3        1683
5        1073
4         792
Name: p9f_mes, dtype: int64

## Clasificación del año y mes

1-->El año en curso      
2-->El año pasado       
3-->Antes del año pasado      
99-->no se sabe

In [105]:
df_copy['p9f'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9f"]
df_copy[columnas]

        p9f
0        99
1        99
2        99
3        99
4         2
5        99
6        99
7        99
8         3
9        99
10        2
11       99
12       99
13        3
14        3
15        3
16        3
17        3
18        3
19        3
20       99
21       99
22        2
23        3
24        3
25       99
26        2
27        3
28        3
29        2
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [106]:
df_copy['p9f']=df_copy['p9f'].astype('int64')
df_copy.p9f.value_counts()

99    926392
3      86798
2      27025
1       7976
9        384
Name: p9f, dtype: int64

## ¿Cuáles eran las tareas o funciones principales que… desempeñaba en ese trabajo?

checar catalogo

In [107]:
df_copy['p9g']=df_copy['p9g'].astype('int64')
df_copy.p9g.value_counts()

99      1013574
4211       2623
9221       1945
9111       1756
9611       1695
7121       1111
6111        799
4111        794
5116        772
9621        734
3121        716
5313        615
5114        594
8341        543
9411        508
9231        482
8342        474
7513        457
3115        452
5111        434
9521        418
8212        378
6114        349
3132        342
4224        335
6112        327
3111        303
9512        299
4221        293
9236        282
         ...
2817          1
1525          1
1133          1
5311          1
1135          1
9332          1
8199          1
6231          1
7401          1
2425          1
6222          1
8135          1
8999          1
1324          1
2533          1
6119          1
6999          1
8349          1
9312          1
8331          1
2113          1
2826          1
2163          1
3232          1
2211          1
2212          1
5401          1
1629          1
6126          1
2151          1
Name: p9g, Length: 423, dtype: int64

## ¿Cuál es el nombre de la empresa, negocio o institución para la que ... realizaba ese trabajo?

1-->Nombre de la empresa      
2-->El negocio no tiene nombre o razón social       
3-->Fue trabajador (subordinado) de una unidad doméstica o trabajador(a) de otro trabajador(a)      
4-->Fue trabajador(a) en el extranjero               
99-->no se sabe

In [108]:
df_copy['p9h'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9h"]
df_copy[columnas]

        p9h
0        99
1        99
2        99
3        99
4         2
5        99
6        99
7        99
8        99
9        99
10        1
11       99
12       99
13       99
14       99
15       99
16       99
17       99
18       99
19       99
20       99
21       99
22        1
23       99
24       99
25       99
26        1
27       99
28       99
29        2
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [109]:
df_copy['p9h']=df_copy['p9h'].astype('int64')
df_copy.p9h.value_counts()

99    1013574
1       19957
2       12431
3        2275
4         279
9          59
Name: p9h, dtype: int64

## Campo exclusivo del sistema

1,2-->Campo exclusivo del sistema        
99-->no se sabe

In [110]:
df_copy.dtypes.p9h_1

dtype('O')

In [111]:
df_copy['p9h_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9h_1"]
df_copy[columnas]

        p9h_1
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10          2
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22          2
23         99
24         99
25         99
26          2
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [112]:
df_copy['p9h_1']=df_copy['p9h_1'].astype('int64')
df_copy.p9h_1.value_counts()

99    1028618
2       19957
Name: p9h_1, dtype: int64

## ¿A que se dedica o dedicaba la empresa, negocio o institución donde trabajaba?

checar catalog

In [113]:
df_copy['p9i']=df_copy['p9i'].astype('int64')
df_copy.p9i.value_counts()

99      1013574
1110       3478
7221       2924
8140       2126
2382       1900
2361       1645
4611       1138
3110       1090
4620        995
4631        825
3360        689
5411        570
8111        569
4850        521
3150        519
2370        499
5611        491
6112        476
7210        474
8121        468
5614        427
4661        412
3320        412
4310        408
4651        407
9312        396
4681        367
4690        357
3160        336
9314        331
         ...
5412          8
7113          7
4820          7
9311          7
4370          7
4882          6
2222          6
5190          6
4810          5
4672          4
1142          3
6242          3
7115          3
8124          3
2121          3
6150          2
2399          2
7133          2
5612          2
6122          2
5180          2
4682          2
4699          2
8125          1
5330          1
4860          1
6121          1
6219          1
3399          1
5223          1
Name: p9i, Length: 156, dtype: int64

## SÓLO PARA EL ENTREVISTADOR

1-->Sector público               
2-->Sector privado             
99-->No sabe

In [114]:
df_copy['p9j'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9j"]
df_copy[columnas]

        p9j
0        99
1        99
2        99
3        99
4         2
5        99
6        99
7        99
8        99
9        99
10        2
11       99
12       99
13       99
14       99
15       99
16       99
17       99
18       99
19       99
20       99
21       99
22        2
23       99
24       99
25       99
26        2
27       99
28       99
29        2
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [115]:
df_copy['p9j']=df_copy['p9j'].astype('int64')
df_copy.p9j.value_counts()

99    1016128
2       30301
1        2139
9           7
Name: p9j, dtype: int64

## Por parte de ese trabajo, ¿... tenía acceso a atención médica en

1-->El Seguro Social (IMSS)?      
2-->Hospital o clínica naval, militar o de Pemex?        
3-->El ISSSTE?      
4-->El ISSSTE estatal (ISSSTELEÓN,ISSEMYM)?        
5-->Otra institución médica?        
6-->No recibía atención médica        
99-->No se sabe

In [116]:
df_copy['p9k'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9k"]
df_copy[columnas]

        p9k
0        99
1        99
2        99
3        99
4         6
5        99
6        99
7        99
8        99
9        99
10        1
11       99
12       99
13       99
14       99
15       99
16       99
17       99
18       99
19       99
20       99
21       99
22        6
23       99
24       99
25       99
26        1
27       99
28       99
29        6
...      ..
1048545  99
1048546  99
1048547  99
1048548  99
1048549  99
1048550  99
1048551  99
1048552  99
1048553  99
1048554  99
1048555  99
1048556  99
1048557  99
1048558  99
1048559  99
1048560  99
1048561  99
1048562  99
1048563  99
1048564  99
1048565  99
1048566  99
1048567  99
1048568  99
1048569  99
1048570  99
1048571  99
1048572  99
1048573  99
1048574  99

[1048575 rows x 1 columns]

In [117]:
df_copy['p9k']=df_copy['p9k'].astype('int64')
df_copy.p9k.value_counts()

99    1016128
6       21215
1       10187
3         590
9         149
4         125
2          96
5          85
Name: p9k, dtype: int64

# Pregunta 9L: En este trabajo, ¿a … le daban

## Opción 1: aguinaldo?

99-->no aplica       
1-->aguinaldo?

In [118]:
df_copy['p9l1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9l1"]
df_copy[columnas]

        p9l1
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10         1
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26         1
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [119]:
df_copy['p9l1']=df_copy['p9l1'].astype('int64')
df_copy.p9l1.value_counts()

99    1037496
1       11079
Name: p9l1, dtype: int64

## Opción 2: vacaciones con goce de sueldo?

99-->No aplica       
2-->vacaciones con goce de sueldo?

In [120]:
df_copy['p9l2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9l2"]
df_copy[columnas]

        p9l2
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10         2
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26         2
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [121]:
df_copy['p9l2']=df_copy['p9l2'].astype('int64')
df_copy.p9l2.value_counts()

99    1039485
2        9090
Name: p9l2, dtype: int64

## Opción 3: reparto de utilidades?

99-->No aplica      
3-->reparto de utilidades?

In [122]:
df_copy['p9l3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9l3"]
df_copy[columnas]

        p9l3
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [123]:
df_copy['p9l3']=df_copy['p9l3'].astype('int64')
df_copy.p9l3.value_counts()

99    1045231
3        3344
Name: p9l3, dtype: int64

## Opción 4: ninguna de las anteriores

99-->No aplica        
4-->Ninguna de las anteriores

In [124]:
df_copy['p9l4'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9l4"]
df_copy[columnas]

        p9l4
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [125]:
df_copy['p9l4']=df_copy['p9l4'].astype('int64')
df_copy.p9l4.value_counts()

99    1047287
4        1288
Name: p9l4, dtype: int64

## Opción 5: no le daban nada

99-->No aplica        
5-->No le daban nada

In [126]:
df_copy['p9l5'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9l5"]
df_copy[columnas]

        p9l5
0         99
1         99
2         99
3         99
4          5
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22         5
23        99
24        99
25        99
26        99
27        99
28        99
29         5
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [127]:
df_copy['p9l5']=df_copy['p9l5'].astype('int64')
df_copy.p9l5.value_counts()

99    1028931
5       19644
Name: p9l5, dtype: int64

## Opción 9: no sabe

99-->No aplica      
9-->no se sabe

In [128]:
df_copy['p9l9'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9l9"]
df_copy[columnas]

        p9l9
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [129]:
df_copy['p9l9']=df_copy['p9l9'].astype('int64')
df_copy.p9l9.value_counts()

99    1048416
9         159
Name: p9l9, dtype: int64

# Pregunta 9M: Aproximadamente ¿Cuánto ganaba … al mes en ese trabajo?

## Opción 1: en efectivo 

99-->No aplica    
1-->En efectivo

In [130]:
df_copy['p9m1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9m1"]
df_copy[columnas]

        p9m1
0         99
1         99
2         99
3         99
4          1
5         99
6         99
7         99
8         99
9         99
10         1
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26         1
27        99
28        99
29         1
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [131]:
df_copy['p9m1']=df_copy['p9m1'].astype('int64')
df_copy.p9m1.value_counts()

99    1021649
1       26926
Name: p9m1, dtype: int64

## Opción 2: en especie

99-->No aplica           
2-->En especie

In [132]:
df_copy['p9m2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9m2"]
df_copy[columnas]

        p9m2
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [133]:
df_copy['p9m2']=df_copy['p9m2'].astype('int64')
df_copy.p9m2.value_counts()

99    1048536
2          39
Name: p9m2, dtype: int64

## Opción 3: no recibía ingresos

99-->No aplica    
3-->No recibía ingresos

In [134]:
df_copy['p9m3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9m3"]
df_copy[columnas]

        p9m3
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [135]:
df_copy['p9m3']=df_copy['p9m3'].astype('int64')
df_copy.p9m3.value_counts()

99    1046889
3        1686
Name: p9m3, dtype: int64

## Opción 9: no sabe

99-->No aplica      
9-->No se sabe

In [136]:
df_copy['p9m9'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9m9"]
df_copy[columnas]

        p9m9
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22         9
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [137]:
df_copy['p9m9']=df_copy['p9m9'].astype('int64')
df_copy.p9m9.value_counts()

99    1044754
9        3821
Name: p9m9, dtype: int64

## Cantidad en pesos

1-999998-->Cantidad en pesos en pregunta 9m cuando es 1 o 2        
99-->No se sabe

In [138]:
df_copy['p9mcan'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9mcan"]
df_copy[columnas]

          p9mcan
0           99.0
1           99.0
2           99.0
3           99.0
4        15000.0
5           99.0
6           99.0
7           99.0
8           99.0
9           99.0
10        4000.0
11          99.0
12          99.0
13          99.0
14          99.0
15          99.0
16          99.0
17          99.0
18          99.0
19          99.0
20          99.0
21          99.0
22          99.0
23          99.0
24          99.0
25          99.0
26        6000.0
27          99.0
28          99.0
29        8000.0
...          ...
1048545     99.0
1048546     99.0
1048547     99.0
1048548     99.0
1048549     99.0
1048550     99.0
1048551     99.0
1048552     99.0
1048553     99.0
1048554     99.0
1048555     99.0
1048556     99.0
1048557     99.0
1048558     99.0
1048559     99.0
1048560     99.0
1048561     99.0
1048562     99.0
1048563     99.0
1048564     99.0
1048565     99.0
1048566     99.0
1048567     99.0
1048568     99.0
1048569     99.0
1048570     99.0
1048571     99.0
1048572     99.0
1048573     99.0
1048574     99.0

[1048575 rows x 1 columns]

In [139]:
df_copy['p9mcan']=df_copy['p9mcan'].astype('int64')
df_copy.p9mcan.value_counts()

99        1021636
4000         2641
2000         1646
3000         1602
6000         1452
3200         1170
3600         1041
2400         1038
5000          953
4800          947
2800          937
8000          660
1000          650
1200          487
10000         420
2500          411
1500          369
7000          355
800           353
4400          351
3500          344
4300          329
1600          325
4500          280
5160          279
12000         253
500           252
3440          245
3870          221
2580          213
           ...
100000          1
3728            1
2902            1
3750            1
167             1
80000           1
6570            1
166             1
165             1
4010            1
12450           1
4257            1
2720            1
6060            1
4880            1
2322            1
3741            1
666             1
946             1
2994            1
3968            1
2710            1
6070            1
2838            1
3350            1
660             1
10003           1
2194            1
4240            1
510             1
Name: p9mcan, Length: 561, dtype: int64

# Pregunta 9N: Actualmente ¿... recibe o cuenta con algún ingreso derivado de

## Opción 1: liquidación o  indemnización de un empleo?

99-->No aplica       
1-->liquidación o indemnización de un empleo?

In [140]:
df_copy['p9n1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9n1"]
df_copy[columnas]

        p9n1
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [141]:
df_copy['p9n1']=df_copy['p9n1'].astype('int64')
df_copy.p9n1.value_counts()

99    1047653
1         922
Name: p9n1, dtype: int64

## Opción 2: la venta, traspaso o liquidación de un negocio?

99-->No aplica            
2-->la venta, traspaso o liquidación de un negocio?

In [142]:
df_copy['p9n2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9n2"]
df_copy[columnas]

        p9n2
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [143]:
df_copy['p9n2']=df_copy['p9n2'].astype('int64')
df_copy.p9n2.value_counts()

99    1048488
2          87
Name: p9n2, dtype: int64

## Opción 3: pensión o jubilación?

99-->No aplica         
3-->pensión o jubilación?

In [144]:
df_copy['p9n3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9n3"]
df_copy[columnas]

        p9n3
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10         3
11        99
12        99
13        99
14        99
15         3
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23         3
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [145]:
df_copy['p9n3']=df_copy['p9n3'].astype('int64')
df_copy.p9n3.value_counts()

99    1035965
3       12610
Name: p9n3, dtype: int64

## Opción 4: seguro de desempleo? 

99-->No aplica       
4-->seguro de desempleo?

In [146]:
df_copy['p9n4'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9n4"]
df_copy[columnas]

        p9n4
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [147]:
df_copy['p9n4']=df_copy['p9n4'].astype('int64')
df_copy.p9n4.value_counts()

99    1047641
4         934
Name: p9n4, dtype: int64

## Opción 5: seguro de separación individual?

99-->No aplica       
5-->seguro de separación individual?

In [148]:
df_copy['p9n5'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9n5"]
df_copy[columnas]

        p9n5
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [149]:
df_copy['p9n5']=df_copy['p9n5'].astype('int64')
df_copy.p9n5.value_counts()

99    1048435
5         140
Name: p9n5, dtype: int64

## Opción 6: no cuenta con ningún ingreso derivado de un trabajo anterior

99-->No aplica       
6-->No cuenta con ningún ingreso derivado de un trabajo anterior

In [150]:
df_copy['p9n6'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9n6"]
df_copy[columnas]

        p9n6
0         99
1         99
2         99
3         99
4          6
5         99
6         99
7         99
8          6
9         99
10        99
11        99
12        99
13         6
14         6
15        99
16         6
17         6
18         6
19         6
20        99
21        99
22         6
23        99
24         6
25        99
26         6
27         6
28         6
29         6
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [151]:
df_copy['p9n6']=df_copy['p9n6'].astype('int64')
df_copy.p9n6.value_counts()

99    941145
6     107430
Name: p9n6, dtype: int64

## Opción 9: no sabe

99-->No aplica      
9-->No se sabe

In [152]:
df_copy['p9n9'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p9n9"]
df_copy[columnas]

        p9n9
0         99
1         99
2         99
3         99
4         99
5         99
6         99
7         99
8         99
9         99
10        99
11        99
12        99
13        99
14        99
15        99
16        99
17        99
18        99
19        99
20        99
21        99
22        99
23        99
24        99
25        99
26        99
27        99
28        99
29        99
...      ...
1048545   99
1048546   99
1048547   99
1048548   99
1048549   99
1048550   99
1048551   99
1048552   99
1048553   99
1048554   99
1048555   99
1048556   99
1048557   99
1048558   99
1048559   99
1048560   99
1048561   99
1048562   99
1048563   99
1048564   99
1048565   99
1048566   99
1048567   99
1048568   99
1048569   99
1048570   99
1048571   99
1048572   99
1048573   99
1048574   99

[1048575 rows x 1 columns]

In [153]:
df_copy['p9n9']=df_copy['p9n9'].astype('int64')
df_copy.p9n9.value_counts()

99    1048415
9         160
Name: p9n9, dtype: int64

# Pregunta 10: En los últimos tres meses ¿… a recibido del gobierno

## Opción 1: beca de capacitación o ayuda económica para encontrartrabajo?

99-->No aplica             
1-->beca de capacitación o ayuda económica para encontrar trabajo?

In [154]:
df_copy['p10_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10_1"]
df_copy[columnas]

        p10_1
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [155]:
df_copy['p10_1']=df_copy['p10_1'].astype('int64')
df_copy.p10_1.value_counts()

99    1048233
1         342
Name: p10_1, dtype: int64

## Opción 2: apoyo para realizar una actividad por su cuenta (Procampo, microcréditos)?

99-->No aplica            
2-->apoyo para realizar una actividad por su cuenta (Procampo, microcréditos)

In [156]:
df_copy['p10_2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10_2"]
df_copy[columnas]

        p10_2
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [157]:
df_copy['p10_2']=df_copy['p10_2'].astype('int64')
df_copy.p10_2.value_counts()

99    1047798
2         777
Name: p10_2, dtype: int64

## Opción 3: ayuda de otro programa de gobierno (becas de  estudio, despensa)?

99-->No aplica          
3-->ayuda de otro programa de gobierno (beca de estudio, despensa)?

In [158]:
df_copy['p10_3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10_3"]
df_copy[columnas]

        p10_3
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23          3
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [159]:
df_copy['p10_3']=df_copy['p10_3'].astype('int64')
df_copy.p10_3.value_counts()

99    1009584
3       38991
Name: p10_3, dtype: int64

## Opción 4: no ha recibido nada del gobierno

99-->No aplica               
4-->No ha recibido nada del gobierno

In [160]:
df_copy['p10_4'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10_4"]
df_copy[columnas]

        p10_4
0           4
1           4
2           4
3           4
4           4
5           4
6           4
7           4
8           4
9           4
10          4
11          4
12          4
13          4
14          4
15          4
16          4
17          4
18          4
19          4
20          4
21          4
22          4
23         99
24          4
25          4
26          4
27          4
28          4
29          4
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [161]:
df_copy['p10_4']=df_copy['p10_4'].astype('int64')
df_copy.p10_4.value_counts()

99    779277
4     269298
Name: p10_4, dtype: int64

## Opción 9: no sabe

99-->No aplica          
9-->No se sabe

In [162]:
df_copy['p10_9'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10_9"]
df_copy[columnas]

        p10_9
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [163]:
df_copy['p10_9']=df_copy['p10_9'].astype('int64')
df_copy.p10_9.value_counts()

99    1048488
9          87
Name: p10_9, dtype: int64

# Pregunta 10A: En los últimos tres meses … a recibido (o le enviaron) apoyo económico de alguien que vive y/o trabaja

## Opción 1: en el extranjero?

99-->No aplica          
1-->en el extranjero?

In [164]:
df_copy['p10a1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10a1"]
df_copy[columnas]

        p10a1
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14          1
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [165]:
df_copy['p10a1']=df_copy['p10a1'].astype('int64')
df_copy.p10a1.value_counts()

99    1045353
1        3222
Name: p10a1, dtype: int64

## Opción 2: en otro estado del país?

99-->No aplica                
2-->en otro estado del país?

In [166]:
df_copy['p10a2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10a2"]
df_copy[columnas]

        p10a2
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [167]:
df_copy['p10a2']=df_copy['p10a2'].astype('int64')
df_copy.p10a2.value_counts()

99    1046035
2        2540
Name: p10a2, dtype: int64

## Opción 3: en este mismo estado?

99-->No aplica                
3-->en este mismo estado?

In [168]:
df_copy['p10a3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10a3"]
df_copy[columnas]

        p10a3
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [169]:
df_copy['p10a3']=df_copy['p10a3'].astype('int64')
df_copy.p10a3.value_counts()

99    1036965
3       11610
Name: p10a3, dtype: int64

## Opción 4: no ha recibido nada

99-->No aplica           
4-->No ha recibido nada

In [170]:
df_copy['p10a4'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10a4"]
df_copy[columnas]

        p10a4
0           4
1           4
2           4
3           4
4           4
5           4
6           4
7           4
8           4
9           4
10          4
11          4
12          4
13          4
14         99
15          4
16          4
17          4
18          4
19          4
20          4
21          4
22          4
23          4
24          4
25          4
26          4
27          4
28          4
29          4
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [171]:
df_copy['p10a4']=df_copy['p10a4'].astype('int64')
df_copy.p10a4.value_counts()

99    755943
4     292632
Name: p10a4, dtype: int64

## Opción 9: no sabe

99-->No aplica           
9-->No se sabe

In [172]:
df_copy['p10a9'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10a9"]
df_copy[columnas]

        p10a9
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [173]:
df_copy['p10a9']=df_copy['p10a9'].astype('int64')
df_copy.p10a9.value_counts()

99    1048487
9          88
Name: p10a9, dtype: int64

# Atención la pregunta 10b aplica apartir del II trimestre de 2007

## ¿... cuenta con el Seguro Popular de Salud?

1-->si         
2-->no              
99-->no se sabe

In [174]:
df_copy['p10b'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p10b"]
df_copy[columnas]

         p10b
0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
5         2.0
6         2.0
7         2.0
8         2.0
9         2.0
10        2.0
11        2.0
12        2.0
13        2.0
14        2.0
15        2.0
16        2.0
17        2.0
18        2.0
19        2.0
20        2.0
21        2.0
22        2.0
23        2.0
24        2.0
25        2.0
26        1.0
27        1.0
28        2.0
29        1.0
...       ...
1048545  99.0
1048546  99.0
1048547  99.0
1048548  99.0
1048549  99.0
1048550  99.0
1048551  99.0
1048552  99.0
1048553  99.0
1048554  99.0
1048555  99.0
1048556  99.0
1048557  99.0
1048558  99.0
1048559  99.0
1048560  99.0
1048561  99.0
1048562  99.0
1048563  99.0
1048564  99.0
1048565  99.0
1048566  99.0
1048567  99.0
1048568  99.0
1048569  99.0
1048570  99.0
1048571  99.0
1048572  99.0
1048573  99.0
1048574  99.0

[1048575 rows x 1 columns]

In [175]:
df_copy['p10b']=df_copy['p10b'].astype('int64')
df_copy.p10b.value_counts()

99    739188
2     211626
1      97335
9        426
Name: p10b, dtype: int64

# Pregunta 11: Durante la semana pasada ¿cuánto tiempo dedicó … a

## Opción 1: estudiar o tomar cursos de capacitación?

99-->No aplica               
1-->estudiar o tomar cursos de capacitación? (incluye el tiempo dedicado a realizar trabajos escolares)

In [176]:
df_copy['p11_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_1"]
df_copy[columnas]

        p11_1
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [177]:
df_copy['p11_1']=df_copy['p11_1'].astype('int64')
df_copy.p11_1.value_counts()

99    997074
1      51501
Name: p11_1, dtype: int64

## Horas

99-->No sabe si realizó la actividad         
1-97-->Número de horas dedicadas a estudiar                
98-->Realizó la actividad pero no sabe cuanto tiempo

In [178]:
df_copy['p11_h1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_h1"]
df_copy[columnas]

         p11_h1
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [179]:
df_copy['p11_h1']=df_copy['p11_h1'].astype('int64')
df_copy.p11_h1.value_counts()

99    997084
40      9698
35      6286
30      4476
45      4154
50      2888
42      2041
38      1941
36      1679
20      1216
32      1153
10      1108
25      1059
28       723
15       683
60       656
48       592
37       566
5        546
6        514
46       506
39       504
12       474
55       432
2        428
8        399
4        395
34       376
14       375
16       375
       ...
19        46
23        46
11        40
58        40
13        39
51        27
62        26
53        26
0         20
80        20
64        14
90        11
66        11
68        10
59         9
75         9
57         8
63         7
72         5
84         4
77         2
61         2
78         1
74         1
95         1
69         1
67         1
86         1
89         1
83         1
Name: p11_h1, Length: 85, dtype: int64

## Minutos 

99-->no aplica             
1-59-->Número de minutos dedicados a estudiar

In [180]:
df_copy['p11_m1'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_m1"]
df_copy[columnas]

         p11_m1
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [181]:
df_copy['p11_m1']=df_copy['p11_m1'].astype('int64')
df_copy.p11_m1.value_counts()

99    997074
0      50692
30       677
3         29
7         22
50        19
40        13
20        11
15        11
45        10
2          6
10         5
22         2
46         1
6          1
1          1
16         1
Name: p11_m1, dtype: int64

## Opción 2: cuidar o atender sin pago, de manera exclusiva a niños, ancianos, enfermos o discapacitados?

99-->No aplica             
2-->cuidar o atender sin pago, de manera exclusiva a niños, ancianos, enfermos o discapacitados? (bañarlos, cambiarlos,trasladarlos)

In [182]:
df_copy['p11_2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_2"]
df_copy[columnas]

        p11_2
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13          2
14          2
15         99
16          2
17         99
18         99
19          2
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29          2
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [183]:
df_copy['p11_2']=df_copy['p11_2'].astype('int64')
df_copy.p11_2.value_counts()

99    973027
2      75548
Name: p11_2, dtype: int64

## Horas 

99-->No sabe si realizó la actividad         
1-97-->Número de horas dedicadas a estudiar                
98-->Realizó la actividad pero no sabe cuanto tiempo

In [184]:
df_copy['p11_h2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_h2"]
df_copy[columnas]

         p11_h2
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         20.0
14         40.0
15         99.0
16         20.0
17         99.0
18         99.0
19         15.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29          6.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [185]:
df_copy['p11_h2']=df_copy['p11_h2'].astype('int64')
df_copy.p11_h2.value_counts()

99    973042
14      7354
10      7005
7       6300
21      6104
28      4121
2       3295
5       3154
20      3084
35      2898
3       2732
6       2722
12      2520
4       2192
15      2165
30      2040
18      1727
8       1717
42      1323
98      1198
25      1153
40      1151
16      1117
1       1083
9        947
24       719
56       690
49       383
26       368
50       327
       ...
72        49
39        40
37        37
31        33
41        29
55        27
44        18
80        17
52        16
43        15
33        12
65        12
54         9
58         9
64         7
47         6
62         5
59         4
78         2
68         2
90         2
96         2
97         2
79         2
74         1
77         1
73         1
82         1
89         1
91         1
Name: p11_h2, Length: 80, dtype: int64

## Minutos 

99-->no aplica             
1-59-->Número de minutos dedicados a estudiar

In [186]:
df_copy['p11_m2'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_m2"]
df_copy[columnas]

         p11_m2
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13          0.0
14          0.0
15         99.0
16          0.0
17         99.0
18         99.0
19          0.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29          0.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [187]:
df_copy['p11_m2']=df_copy['p11_m2'].astype('int64')
df_copy.p11_m2.value_counts()

99    973027
0      74455
30       925
3         86
20        21
45         9
40         9
10         8
8          5
7          5
15         5
50         4
2          4
4          3
33         2
35         2
1          2
28         1
31         1
9          1
Name: p11_m2, dtype: int64

# Atención a las opciones 3 a 8, cambia pregunta del IV trimestre de 2012 al I trimestre 2013

## Opción 3: realizar compras, llevar cuentas o realizar trámites para el hogar o encargarse de la seguridad? (Aplica a partir del 2013)

99-->No aplica             
3-->realizar compras, llevar cuentas o realizar trámites para el hogar o encargarse de la seguridad? (como guardar el automóvil)

In [188]:
df_copy['p11_3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_3"]
df_copy[columnas]

        p11_3
0           3
1           3
2           3
3          99
4           3
5           3
6           3
7           3
8          99
9           3
10          3
11         99
12         99
13          3
14          3
15          3
16          3
17          3
18          3
19          3
20         99
21         99
22          3
23          3
24          3
25          3
26          3
27          3
28          3
29          3
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [189]:
df_copy['p11_3']=df_copy['p11_3'].astype('O')
df_copy.p11_3.value_counts()

99    739188
3     167507
99    141880
Name: p11_3, dtype: int64

## Horas

99-->No sabe si realizó la actividad         
1-97-->Número de horas dedicadas a estudiar                
98-->Realizó la actividad pero no sabe cuanto tiempo

In [190]:
df_copy['p11_h3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_h3"]
df_copy[columnas]

         p11_h3
0           2.0
1           4.0
2           3.0
3          99.0
4           2.0
5           5.0
6           3.0
7           3.0
8          99.0
9           5.0
10          2.0
11         99.0
12         99.0
13          4.0
14          3.0
15          4.0
16          5.0
17          5.0
18          1.0
19          4.0
20         99.0
21         99.0
22          2.0
23          2.0
24          4.0
25          2.0
26          5.0
27          6.0
28          5.0
29          4.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [191]:
df_copy['p11_h3']=df_copy['p11_h3'].astype('int64')
df_copy.p11_h3.value_counts()

99    881096
2      56371
3      32293
1      31040
4      14727
5       9923
7       6164
6       6109
0       2952
10      2591
8       1753
98       799
14       740
9        663
12       517
15       156
11       125
16       119
21       108
20        91
18        62
13        26
17        25
30        24
25        16
28        16
24        11
35         8
40         7
22         6
19         5
50         5
36         4
80         3
32         2
33         2
26         2
42         2
23         2
60         2
90         2
38         2
27         1
31         1
56         1
68         1
Name: p11_h3, dtype: int64

## Minutos

99-->no aplica             
1-59-->Número de minutos dedicados a estudiar

In [192]:
df_copy['p11_m3'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_m3"]
df_copy[columnas]

         p11_m3
0           0.0
1           0.0
2           0.0
3          99.0
4           0.0
5           0.0
6           0.0
7           0.0
8          99.0
9           0.0
10          0.0
11         99.0
12         99.0
13          0.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20         99.0
21         99.0
22          0.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          0.0
29          0.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [193]:
df_copy['p11_m3']=df_copy['p11_m3'].astype('int64')
df_copy.p11_m3.value_counts()

99    881068
0     156130
30      9469
20       493
40       346
45       262
10       208
15       194
7        101
50        77
25        76
35        52
4         21
3         16
2         12
6          7
33         7
1          6
55         5
5          5
32         3
22         3
46         2
16         2
11         2
12         1
42         1
8          1
26         1
14         1
21         1
23         1
18         1
Name: p11_m3, dtype: int64

## Opción 4: llevar a algún miembro del hogar a la escuela, cita médica u otra actividad? (Aplica a partir del 2013)

99-->No aplica        
4-->llevar a algún miembro del hogar a la escuela, cita médica u otra actividad?

In [194]:
df_copy['p11_4'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_4"]
df_copy[columnas]

        p11_4
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [195]:
df_copy['p11_4']=df_copy['p11_4'].astype('int64')
df_copy.p11_4.value_counts()

99    1015449
4       33126
Name: p11_4, dtype: int64

## Horas

99-->No sabe si realizó la actividad         
1-97-->Número de horas dedicadas a estudiar                
98-->Realizó la actividad pero no sabe cuanto tiempo

In [196]:
df_copy['p11_h4'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_h4"]
df_copy[columnas]

         p11_h4
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [197]:
df_copy['p11_h4']=df_copy['p11_h4'].astype('int64')
df_copy.p11_h4.value_counts()

99    1015452
2        8466
5        6075
1        5700
3        4721
4        2767
6        1399
10       1060
0        1056
7         725
8         394
12        137
98        121
9          97
14         96
15         90
20         52
11         32
21         17
25         16
50         14
16         12
24         12
28          8
30          7
42          6
13          6
35          6
40          6
18          5
17          3
45          2
22          2
19          2
27          1
29          1
31          1
32          1
47          1
48          1
49          1
33          1
57          1
70          1
43          1
Name: p11_h4, dtype: int64

## Minutos

99-->no aplica             
1-59-->Número de minutos dedicados a estudiar

In [198]:
df_copy['p11_m4'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_m4"]
df_copy[columnas]

         p11_m4
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [199]:
df_copy['p11_m4']=df_copy['p11_m4'].astype('int64')
df_copy.p11_m4.value_counts()

99    1015449
0       28200
30       3676
40        338
50        257
20        214
15        191
45         75
10         56
25         38
7          25
2          11
3          10
1          10
35          8
5           8
33          2
22          2
55          2
6           2
11          1
Name: p11_m4, dtype: int64

## Opción 5: construir o ampliar su vivienda? (Aplica a partir del 2013)

99-->No aplica              
5-->construir o ampliar su vivienda?

In [200]:
df_copy['p11_5'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_5"]
df_copy[columnas]

        p11_5
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [201]:
df_copy['p11_5']=df_copy['p11_5'].astype('int64')
df_copy.p11_5.value_counts()

99    1047854
5         721
Name: p11_5, dtype: int64

## Horas

99-->No sabe si realizó la actividad         
1-97-->Número de horas dedicadas a estudiar                
98-->Realizó la actividad pero no sabe cuanto tiempo

In [202]:
df_copy['p11_h5'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_h5"]
df_copy[columnas]

         p11_h5
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [203]:
df_copy['p11_h5']=df_copy['p11_h5'].astype('int64')
df_copy.p11_h5.value_counts()

99    1047857
2          92
4          83
3          63
5          56
6          54
10         53
1          46
7          46
8          42
14         20
20         17
21         17
12         17
15         14
18         10
9          10
16          8
30          8
24          8
0           7
28          7
25          6
40          5
35          5
42          4
60          2
56          2
70          2
32          2
13          1
36          1
22          1
45          1
47          1
48          1
49          1
50          1
54          1
55          1
27          1
23          1
Name: p11_h5, dtype: int64

## Minutos

99-->no aplica             
1-59-->Número de minutos dedicados a estudiar

In [204]:
df_copy['p11_m5'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_m5"]
df_copy[columnas]

         p11_m5
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [205]:
df_copy['p11_m5']=df_copy['p11_m5'].astype('int64')
df_copy.p11_m5.value_counts()

99    1047854
0         706
30          8
15          2
7           2
25          1
11          1
10          1
Name: p11_m5, dtype: int64

## Opción 6: reparar o dar mantenimiento a su vivienda, muebles, aparatos electrodomésticos a partir del 2013)

99-->No aplica              
6-->reparar o dar mantenimiento a su vivienda, muebles, aparatos electrodomésticos o vehículos?

In [206]:
df_copy['p11_6'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_6"]
df_copy[columnas]

        p11_6
0           6
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [207]:
df_copy['p11_6']=df_copy['p11_6'].astype('int64')
df_copy.p11_6.value_counts()

99    1033809
6       14766
Name: p11_6, dtype: int64

## Horas

99-->No sabe si realizó la actividad         
1-97-->Número de horas dedicadas a estudiar                
98-->Realizó la actividad pero no sabe cuanto tiempo

In [208]:
df_copy['p11_h6'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_h6"]
df_copy[columnas]

         p11_h6
0           2.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [209]:
df_copy['p11_h6']=df_copy['p11_h6'].astype('int64')
df_copy.p11_h6.value_counts()

99    1033813
2        3984
1        2627
3        2002
4        1398
5         990
6         980
7         608
10        498
0         473
8         396
12        161
14        117
9         105
98        104
15         65
20         57
16         30
21         28
18         20
24         20
30         16
35         13
28         13
25          9
11          7
42          6
40          6
26          5
48          3
56          3
22          3
13          2
17          2
36          2
32          1
49          1
50          1
54          1
38          1
60          1
70          1
72          1
46          1
Name: p11_h6, dtype: int64

## Minutos

99-->no aplica             
1-59-->Número de minutos dedicados a estudiar

In [210]:
df_copy['p11_m6'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_m6"]
df_copy[columnas]

         p11_m6
0           0.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [211]:
df_copy['p11_m6']=df_copy['p11_m6'].astype('int64')
df_copy.p11_m6.value_counts()

99    1033809
0       13951
30        706
20         40
15         18
40         15
45          8
10          8
7           6
5           3
1           3
50          2
35          1
25          1
6           1
3           1
2           1
11          1
Name: p11_m6, dtype: int64

## Opción 7: realizar los quehaceres de su hogar? (Solo aplica a partir del 2013)

99-->No aplica              
7-->realizar los quehaceres de su hogar? (lavar, planchar,preparar y servir alimentos, barrer)

In [212]:
df_copy['p11_7'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_7"]
df_copy[columnas]

        p11_7
0           7
1           7
2          99
3           7
4           7
5           7
6           7
7           7
8          99
9           7
10         99
11          7
12          7
13          7
14          7
15          7
16          7
17          7
18          7
19          7
20          7
21          7
22          7
23          7
24          7
25          7
26          7
27          7
28          7
29          7
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [213]:
df_copy['p11_7']=df_copy['p11_7'].astype('int64')
df_copy.p11_7.value_counts()

99    801088
7     247487
Name: p11_7, dtype: int64

## Horas

99-->No sabe si realizó la actividad         
1-97-->Número de horas dedicadas a estudiar                
98-->Realizó la actividad pero no sabe cuanto tiempo

In [214]:
df_copy['p11_h7'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_h7"]
df_copy[columnas]

         p11_h7
0           1.0
1          14.0
2          99.0
3          16.0
4           5.0
5          12.0
6           5.0
7          14.0
8          99.0
9          21.0
10         99.0
11          2.0
12          2.0
13         10.0
14         28.0
15         40.0
16         24.0
17          3.0
18         14.0
19         20.0
20          4.0
21          3.0
22          2.0
23          4.0
24         30.0
25          4.0
26          9.0
27         28.0
28         12.0
29          4.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [215]:
df_copy['p11_h7']=df_copy['p11_h7'].astype('int64')
df_copy.p11_h7.value_counts()

99    801103
7      28795
14     21105
21     18627
2      18244
10     14453
3      14344
28     14125
5      10605
1       9708
35      8925
4       8810
6       8271
20      8207
30      6365
12      5441
18      4907
15      4865
8       4364
42      3807
25      3534
16      2864
9       2569
40      2475
24      2115
98      2036
36      1876
32      1618
26      1608
56      1530
       ...
60       131
41        81
44        69
55        49
63        45
43        43
52        43
54        33
47        26
72        17
58        15
84         8
65         7
62         6
77         5
53         4
59         4
74         4
57         3
66         3
80         3
51         3
71         2
68         2
64         2
75         1
78         1
69         1
96         1
97         1
Name: p11_h7, Length: 81, dtype: int64

## Minutos

99-->no aplica             
1-59-->Número de minutos dedicados a estudiar

In [216]:
df_copy['p11_m7'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_m7"]
df_copy[columnas]

         p11_m7
0           0.0
1           0.0
2          99.0
3           0.0
4           0.0
5           0.0
6           0.0
7           0.0
8          99.0
9           0.0
10         99.0
11          0.0
12          0.0
13          0.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20          0.0
21          0.0
22          0.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          0.0
29          0.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [217]:
df_copy['p11_m7']=df_copy['p11_m7'].astype('int64')
df_copy.p11_m7.value_counts()

99    801088
0     242341
30      4781
20       101
10        52
45        46
40        45
50        23
15        21
1         19
33        17
2          9
25         6
11         5
22         4
3          4
7          2
6          2
5          2
55         2
58         1
35         1
14         1
36         1
9          1
Name: p11_m7, dtype: int64

## Opción 8: prestar servicios gratuitos a su comunidad? (Solo aplica a partir del 2013)

99-->No aplica              
8-->prestar servicios gratuitos a su comunidad?(conseguir despensas, cuidar personas en un hospital)

In [218]:
df_copy['p11_8'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_8"]
df_copy[columnas]

        p11_8
0          99
1          99
2          99
3          99
4          99
5          99
6          99
7          99
8          99
9          99
10         99
11         99
12         99
13         99
14         99
15         99
16         99
17         99
18         99
19         99
20         99
21         99
22         99
23         99
24         99
25         99
26         99
27         99
28         99
29         99
...       ...
1048545    99
1048546    99
1048547    99
1048548    99
1048549    99
1048550    99
1048551    99
1048552    99
1048553    99
1048554    99
1048555    99
1048556    99
1048557    99
1048558    99
1048559    99
1048560    99
1048561    99
1048562    99
1048563    99
1048564    99
1048565    99
1048566    99
1048567    99
1048568    99
1048569    99
1048570    99
1048571    99
1048572    99
1048573    99
1048574    99

[1048575 rows x 1 columns]

In [219]:
df_copy['p11_8']=df_copy['p11_8'].astype('int64')
df_copy.p11_8.value_counts()

99    1045644
8        2931
Name: p11_8, dtype: int64

## Horas

99-->No sabe si realizó la actividad         
1-97-->Número de horas dedicadas a estudiar                
98-->Realizó la actividad pero no sabe cuanto tiempo

In [220]:
df_copy['p11_h8'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_h8"]
df_copy[columnas]

         p11_h8
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [221]:
df_copy['p11_h8']=df_copy['p11_h8'].astype('int64')
df_copy.p11_h8.value_counts()

99    1045647
2         646
1         445
3         409
4         291
6         185
5         153
10        119
8         113
7          87
0          64
20         47
12         45
15         42
14         34
9          28
98         27
24         25
30         24
28         21
21         19
18         15
25         14
16         13
35         13
40          9
48          7
36          5
45          5
11          4
70          3
13          2
26          2
42          2
50          2
60          2
27          1
29          1
17          1
56          1
59          1
38          1
Name: p11_h8, dtype: int64

## Minutos

99-->no aplica             
1-59-->Número de minutos dedicados a estudiar

In [222]:
df_copy['p11_m8'].replace(to_replace=[' ', '99'],value='99',inplace=True)
columnas = ["p11_m8"]
df_copy[columnas]

         p11_m8
0          99.0
1          99.0
2          99.0
3          99.0
4          99.0
5          99.0
6          99.0
7          99.0
8          99.0
9          99.0
10         99.0
11         99.0
12         99.0
13         99.0
14         99.0
15         99.0
16         99.0
17         99.0
18         99.0
19         99.0
20         99.0
21         99.0
22         99.0
23         99.0
24         99.0
25         99.0
26         99.0
27         99.0
28         99.0
29         99.0
...         ...
1048545    99.0
1048546    99.0
1048547    99.0
1048548    99.0
1048549    99.0
1048550    99.0
1048551    99.0
1048552    99.0
1048553    99.0
1048554    99.0
1048555    99.0
1048556    99.0
1048557    99.0
1048558    99.0
1048559    99.0
1048560    99.0
1048561    99.0
1048562    99.0
1048563    99.0
1048564    99.0
1048565    99.0
1048566    99.0
1048567    99.0
1048568    99.0
1048569    99.0
1048570    99.0
1048571    99.0
1048572    99.0
1048573    99.0
1048574    99.0

[1048575 rows x 1 columns]

In [223]:
df_copy['p11_m8']=df_copy['p11_m8'].astype('int64')
df_copy.p11_m8.value_counts()

99    1045644
0        2768
30        141
20         10
40          5
10          3
50          1
29          1
15          1
5           1
Name: p11_m8, dtype: int64

## Campo exclusivo de proceso

1,2-->Campo exclusivo de proceso

In [224]:
df_copy['ur']=df_copy['ur'].astype('int64')
df_copy.ur.value_counts()

1     680653
2     367921
99         1
Name: ur, dtype: int64

## Factor de expansión

1-999998-->Valor

In [225]:
df_copy['fac']=df_copy['fac'].astype('int64')
df_copy.fac.value_counts()

114     6970
112     6736
120     6616
119     6253
111     6192
113     6129
123     5793
115     5792
116     5785
110     5761
125     5571
118     5543
126     5521
124     5373
117     5353
128     5340
130     5284
138     5283
91      5123
94      5082
102     5076
107     5029
99      5029
108     5027
109     5025
127     5020
97      4951
121     4915
135     4903
106     4888
        ...
4358       2
3079       2
2429       2
3912       2
2476       2
2514       2
6344       2
2524       2
2544       2
6067       2
2075       2
1232       2
2343       2
2224       2
7505       2
2660       2
2571       2
3842       1
5163       1
2537       1
4963       1
4884       1
4752       1
2841       1
5945       1
5015       1
2235       1
2649       1
5900       1
3102       1
Name: fac, Length: 2339, dtype: int64

In [226]:
#copia de seguridad del termino de la limpieza  
df2016 = df_copy.copy()

In [227]:
n = df2016.columns.values.tolist()
m = round(df2016.shape[0]*.50)
l = []
for i in n:
    if df2016[i].value_counts().get(99) != None:
        if m < df2016[i].value_counts().get(99):
            l.append(i)
            df2016 = df2016.drop(i, 1)

In [228]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
cd_a         1048575 non-null int64
ent          1048575 non-null int64
con          1048575 non-null int64
upm          1048575 non-null int64
d_sem        1048575 non-null int64
n_pro_viv    1048575 non-null int64
v_sel        1048575 non-null int64
n_hog        1048575 non-null float64
h_mud        1048575 non-null float64
n_ent        1048575 non-null float64
per          1048575 non-null float64
n_ren        1048575 non-null float64
eda          1048575 non-null float64
n_inf        1048575 non-null float64
p6b1         1048575 non-null int64
p6d          1048575 non-null int64
p7           1048575 non-null int64
p8_4         1048575 non-null int64
ur           1048575 non-null int64
fac          1048575 non-null int64
dtypes: float64(7), int64(13)
memory usage: 160.0 MB

In [229]:
df2016['n_hog']=df2016['n_hog'].astype('int64')
df2016['h_mud']=df2016['h_mud'].astype('int64')
df2016['n_ent']=df2016['n_ent'].astype('int64')
df2016['per']=df2016['per'].astype('int64')
df2016['n_ren']=df2016['n_ren'].astype('int64')
df2016['eda']=df2016['eda'].astype('int64')
df2016['n_inf']=df2016['n_inf'].astype('int64')

In [230]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
cd_a         1048575 non-null int64
ent          1048575 non-null int64
con          1048575 non-null int64
upm          1048575 non-null int64
d_sem        1048575 non-null int64
n_pro_viv    1048575 non-null int64
v_sel        1048575 non-null int64
n_hog        1048575 non-null int64
h_mud        1048575 non-null int64
n_ent        1048575 non-null int64
per          1048575 non-null int64
n_ren        1048575 non-null int64
eda          1048575 non-null int64
n_inf        1048575 non-null int64
p6b1         1048575 non-null int64
p6d          1048575 non-null int64
p7           1048575 non-null int64
p8_4         1048575 non-null int64
ur           1048575 non-null int64
fac          1048575 non-null int64
dtypes: int64(20)
memory usage: 160.0 MB

In [231]:
df2016 = sk.preprocessing.normalize(df2016, norm='l2', axis=1, copy=True)

In [232]:
#copia de seguridad despues de la normalización   
dfn = df2016.copy()

In [233]:
dfnorm = pd.DataFrame(dfn)

In [234]:
dfnorm.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.000001,0.00001,0.044379,0.999015,0.000112,0.000017,0.000001,0.000001,0.0,0.000004,0.000129,0.000001,0.000051,0.000004,0.000002,0.000007,0.000008,0.000110,0.000001,0.000468
1,0.000001,0.00001,0.044379,0.999015,0.000112,0.000017,0.000001,0.000001,0.0,0.000004,0.000129,0.000002,0.000053,0.000004,0.000004,0.000007,0.000008,0.000004,0.000001,0.000468
2,0.000001,0.00001,0.044379,0.999015,0.000112,0.000017,0.000001,0.000001,0.0,0.000004,0.000129,0.000003,0.000026,0.000004,0.000002,0.000001,0.000008,0.000004,0.000001,0.000468
3,0.000001,0.00001,0.044379,0.999015,0.000112,0.000017,0.000001,0.000001,0.0,0.000004,0.000129,0.000004,0.000020,0.000004,0.000110,0.000110,0.000110,0.000110,0.000001,0.000468
4,0.000001,0.00001,0.044379,0.999015,0.000112,0.000042,0.000002,0.000001,0.0,0.000004,0.000129,0.000001,0.000040,0.000002,0.000110,0.000110,0.000110,0.000110,0.000001,0.000468

In [235]:
dfnorm.to_csv ('C:/Users/JoseAntonio/Desktop/ENOE/closters/norm2016.csv', sep=',', index=False)